[2017-04-14 08:56] cablespaghetti opened #1 "Support Images"
Hi,

I'm using this to power my very basic Big Ben account (bigben@mastodon.org.uk). It would be quite nice if I could post images of the time too.

Thanks!
Sam

[2017-04-14 08:58] ihabunek commented on #1
Glad you're finding it useful. I'll look into supporting images.

[2017-04-15 10:41] #1 closed

[2017-04-17 17:32] bignimbus opened #3 "Support for 2FA?"
I have two-factor auth enabled for my Mastodon account.  Whenever I try to `toot login` with the correct email and password, I get the error message `Login failed`.  Does this client support 2FA?

Thanks so much!

[2017-04-17 17:44] ihabunek commented on #3
Not currently. I will look into supporting 2FA.

[2017-04-18 07:57] vext01 commented on #3
Same problem here.

[2017-04-18 15:25] ihabunek commented on #3
@bignimbus @vext01 I just released version 0.7.0 which adds experimental 2FA support. could you please try it out and let me know if it works for you?

Instead of `toot login`, use `toot 2fa`.

[2017-04-18 15:48] bignimbus commented on #3
@ihabunek works great on my machine.  You are awesome!

[2017-04-18 16:06] bignimbus opened #4 "Ability to pipe successfully"
To reproduce:

[code]

Produces the error:

[code]

* toot v. 0.7.0
* macOS v. 10.12.4
* python v. 2.7

[2017-04-19 13:04] #3 closed

[2017-04-20 11:04] vext01 commented on #3
I'm also able to login with 2fa. Thanks

[2017-04-20 11:04] vext01 commented on #4
Same here.

[2017-04-20 11:17] vext01 opened #5 "Continuous Timeline"
Hi,

It would be neat if there were a flag to `toot timeline` which showed toots live as they came in. I suppose that would require polling, so you'd have to be careful not to overwhelm the server limits.

[2017-04-20 11:18] vext01 opened #6 "Support for replying to a post?"
Am I right that there is no way to reply to a toot currently? This would be nice to have.

Thanks

[2017-04-20 11:22] ihabunek commented on #5
Actually I'm working on a curses-powered interface which will allow paging through the timeline. I will look into adding live updates. There is a [streaming API](https://github.com/tootsuite/documentation/blob/master/Using-the-API/Streaming-API.md) which gives you the updates as they come in.

[2017-04-20 11:24] ihabunek commented on #4
Hm, I'm on linux and unable to reproduce this. Could you please upgrade to `0.8.0` and check if it still happens? I did some improvements for unicode support recently.

[2017-04-20 11:24] ihabunek commented on #6
:+1:  That's on my todo list.

[2017-04-20 12:29] Xillie2006 commented on #5
I love what you're doing. I was hoping curses interface cli would come. My hope is in your hands:) Also, I can see the "My timeline". Will there be a command to show "Local timeline" and "Global timeline"?

[2017-04-20 12:38] ihabunek commented on #5
Sure. But so many features... so little time... :)

[2017-04-20 12:39] bignimbus commented on #4
@ihabunek same error in 0.8.0. Details:

[code]

* toot v. 0.8.0
* macOS v. 10.12.4
* python v. 2.7

[2017-04-20 12:41] bignimbus commented on #4
May I recommend encoding the output into valid markdown?  Markdown supports tables and then we'd be able to pipe into an app like [mdless](http://brettterpstra.com/projects/mdless/) for even nicer formatting.

[2017-04-21 15:54] vext01 commented on #5
Regarding curses. I've used urwid in the past, which was much less painless than curses:
http://urwid.org/

I notice that that page also lists other abstractions:
http://www.npcole.com/npyscreen/
https://github.com/thomasballinger/curtsies
https://github.com/jonathanslenders/python-prompt-toolkit

[2017-04-21 17:04] ihabunek commented on #5
@vext01 Thanks for the suggestions, I will go through them.

Since this is my first curses app, I wanted to try it out vanilla before jumping aboard the abstractions, so I could better understand how it works.

I have a basic timeline app implementation which I'd like to push out soon, but I'm away to [Webcamp Ljubljana](http://2017.webcamp.si/) tomorrow so it may be a couple of days.

[2017-04-21 18:30] ihabunek commented on #5
@vext01 or I can waste another evening hacking :) I just pushed 0.9.0 which has a rudimentary timeline app. Try running `toot curses`.

Would something along these lines be interesting for you?

Obviously, there's a long way to go.

[2017-04-23 15:40] tleb opened #7 "Unicode characters in username"
An example:

[code]

It seems like the character count is wrong [here](https://github.com/ihabunek/toot/blob/master/toot/commands.py#L144).

[2017-04-23 18:26] iztoogood opened #8 "'pip install toot' do not works for me :-("
` pip install toot
Downloading/unpacking toot
  Downloading toot-0.9.0-py2.py3-none-any.whl
Cleaning up...
Exception:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 122, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/dist-packages/pip/commands/install.py", line 290, in

[2017-04-23 18:28] ihabunek commented on #8
Probably older version of pip which doesn't understand the `~=` directive.

Try running:
[code]

[2017-04-23 18:32] tleb commented on #8
I installed it using Python 3.5 a few hours ago (so we installed the same version) and it worked fine for me.

[2017-04-23 20:11] iztoogood commented on #8
tanks a lot !!! \o/ --> it works
pip update:
[code]
[code]

[2017-04-23 20:49] ihabunek commented on #8
Cool. I'll add a note to the readme, or edit the reqs so it works with older versions of pip.

[2017-04-23 20:49] #8 closed

[2017-04-25 14:22] vext01 commented on #5
Oops! Python2.7/OpenBSD:
[code]

[2017-04-25 14:23] ihabunek commented on #5
It's a python2 bug, did not have time to investigate. Having 2+3 support is a major pain in the butt.

[2017-04-25 14:26] ihabunek commented on #5
BTW, I'm in the process of learning `urwid`. Seems simpler than plain curses, but still a bit archaic.

[2017-04-25 16:09] vext01 commented on #5
Why not just drop python 2 support? Would save you some time I'm sure.

[2017-04-26 05:13] mantlepro opened #9 "Reverse Order of Timeline"
It would be better to display the timeline in reverse order with newest items at the bottom, closest to the prompt. This is especially desirable when the terminal window is too small to display the entire query.

With the order reversed, the `toot timeline` command can be run to see the latest as the last returned without scrolling to the top of the heap.

Anyway, thanks for an awesome CLI!

[2017-04-26 07:53] chaica opened #10 "Installation with pip3 failed"
Hi,

While trying to install toot with pip3 on Debian Jessie, pip seems to fail:
[code]

Let me know if you need more information.

Cheers,
Carl

[2017-04-26 07:59] chaica commented on #10
While trying to install by hand:
[code]

[2017-04-26 08:30] dachary commented on #10
Works for me.

<pre>
loic@fold:/tmp/toot$ virtualenv --python=python3 /tmp/v
Already using interpreter /usr/bin/python3
Using base prefix '/usr'
New python executable in /tmp/v/bin/python3
Also creating executable in /tmp/v/bin/python
Installing setuptools, pkg_resources, pip, wheel...done.
loic@fold:/tmp/toot$ source /tmp/v/bin/activate
(v) loic@fold:/tmp/toot$ pip3 install toot --upgrade
Collect

[2017-04-26 08:34] chaica commented on #10
Debian Jessie uses python 3.4:
[code]

[2017-04-26 08:49] tleb commented on #10
The answer was given by @ihabunek in #8, you need to update `pip` by doing a `pip install --upgrade pip`.

[2017-04-26 08:51] cedricbonhomme commented on #10
According to this test on Travis, it is also working with Python 3.4.2:
https://travis-ci.org/ihabunek/toot/jobs/225099577

If you have an up-to-date version of pip, maybe it is an encoding problem.

[2017-04-26 08:58] dachary commented on #10
Most likely a pip problem indeed.
<pre>
loic@fold:/tmp$ virtualenv --python=python3.4 /tmp/v
Running virtualenv with interpreter /usr/bin/python3.4
Using base prefix '/usr'
New python executable in /tmp/v/bin/python3.4
Also creating executable in /tmp/v/bin/python
Installing setuptools, pkg_resources, pip, wheel...done.
loic@fold:/tmp$ /tmp/v/bin/pip3 install toot --upgrade
Collecting toot
  Using

[2017-04-26 09:59] ihabunek commented on #10
Just pushed `0.10.0` which should fix this problem.

I stopped using `~=` for dependencies. See acda7cbb945692efbb79a720354de7aec64f1927.

[2017-04-26 10:10] ihabunek commented on #9
I can add that as a param, but I'm planning to replace that command in favour of a curses app.

Try `toot curses` for an early demo. Python 3 only for now.

[2017-04-27 00:26] Iratu opened #11 "Issue with using toot in a crontab."
I've made a script to automagically upload a random image it downloads from the booru I host, when I manually run the script it works fine, I've been trying a lot of different things to get it running.

Error:
`usage: toot post [-h] [-m MEDIA] [-v VISIBILITY] text
toot post: error: unrecognized arguments: `

For some reason it doesn't even give me a reason as to why it is failing.

Code:
[code]
wh

[2017-04-28 17:09] ihabunek opened #12 "Config file location"
Recommendation i got on mastodon:

https://mastodon.social/@saper/4603545

Also check what would be best for mac/windows.

[2017-04-28 17:37] #10 closed

[2017-05-01 17:07] chaica opened #13 "Using toot post in a cron => unrecognized argument"
Hi,

I'm trying to use the toot post command in a cron, but each time I do have the following error

My script :
[code]
My line in /etc/crontab
[code]

Each time I get the following message in the cron error email:
[code]

Launching /home/tootpost/postmasto.sh by hand from the user tootpost provides the expected result.

I'm suspecting either an obvious mistake from my side either a required missi

[2017-05-02 10:08] chaica commented on #11
#13 is I guess a duplicate of this one, the issue will be the same

[2017-05-07 08:01] ihabunek commented on #13
Duplicate of #11. Closing.

[2017-05-07 08:01] #13 closed

[2017-05-07 08:32] ihabunek commented on #11
The problem here is my method of detecting if there's anything piped in. When run via crontab `sys.stdin.isatty()` returnes False, which causes the contents of stdin (an empty string) to be added to commandline arguments.

That's why the argument parser returne the weird error:
[code]

That's the empty string at the end of that error message.

[2017-05-07 08:44] #11 closed

[2017-05-07 08:47] ihabunek commented on #11
@chaica @Iratu This is fixed in 0.11.0. Please upgrade and test.

[2017-05-07 08:50] chaica commented on #11
works like a charm for me! Thanks a lot!

[2017-05-07 13:12] Iratu commented on #11
Works great, thanks! 👍

[2017-05-07 19:33] pacohope opened #14 "Bug: Need non-zero exit on error"
I have a job that sometimes produces text too big to toot. That's OK, I'll just retry with a smaller amount of text. But the 'toot post' command exits with error code '0' to the shell. So my shell script can't tell that the attempt to toot failed with an error.

Example:
[code]

When there's no error, the 'toot' command should exit 0. When there's any kind of error, the command should exit non-zer

[2017-05-07 19:52] pacohope opened #15 "Feature Request: Disable color"
The output of the commands always seems to include the ANSI color codes. I was doing the following:
[code]
But then I want to do things like
[code]
The problem is that the output has ANSI codes in it. So the actual value of $followers is:
[code]
Can I get some kind of command line option or config option to disable the color output?

[2017-05-08 07:18] #14 closed

[2017-05-08 07:18] #15 closed

[2017-05-08 07:21] ihabunek commented on #15
@pacohope Fixed in `0.12.0`. You can set the `--no-color` option on any command to disable ANSI color.

[2017-05-08 07:21] ihabunek commented on #14
@pacohope Fixed in `0.12.0`. toot will use exit code 1 on error.

[2017-05-08 09:37] vext01 commented on #5
Works under pyhton3.6 fine.

If the window is too small I get:
[code]

I'd recommend a variable window size, and allowing 80x25, since that is standard.

[2017-06-02 09:59] chaica opened #16 "line break with toot post"
Hi,

I was not able to add a line break while using toot post, am I missing something?

Cheers,
Car

[2017-06-02 12:36] ihabunek commented on #16
Hm... i can confirm that this does not result in a linebreak, but a literal "\n":

[code]

However, this works:

[code]

Not exactly sure why. Will have a look over the weekend.

In future, when reporting an issue, please say what you tried. Ideally send a command which reproduces the problem. That makes my life a lot easier.

[2017-06-02 13:15] chaica opened #17 "Breaking upgrading from 0.8 to 0.12"
Toot breaks while upgrading from 0.8 to 0.12 with pip. The system is Debian Jessie.

[code]

Trying to uninstall / install does not solve the issue:
[code]

Let me know if you need more information.

Cheers,
Carl

[2017-06-03 09:25] chaica commented on #16
It does not work either with the latesst checkout of the Github repository:
[code]
See the image below for the displayed result. The like break does not work.
![toot-post](https://cloud.githubusercontent.com/assets/4236195/26752403/44183d7c-484f-11e7-9502-c359bfca9669.png)

[2017-06-03 09:27] chaica commented on #17
I was able to fix the situation by removing all files related to toot in /usr/local/bin/python3.4/dist-packages/ and using the version in the current Github repository (git clone, python3 setup.py install).

[2017-06-12 15:34] davidpgil opened #18 "Pip Installation Error"
I just installed pip, and the dependencies in requirements.txt and requirements-dev.txt. I typed "pip install toot" and I get an error message. Please advise.

[code]

[2017-06-24 11:15] oleerik opened #19 "Login failed: Invalid 2FA token?"
2FA seems to fail, even when the 2FA token is correct.

[code]

[2017-06-27 09:41] chaica commented on #16
any update on this topic?

[2017-06-27 10:35] ihabunek commented on #16
I played around with this and it basically depends on how your shell works. Here are some potential solutions.

In bash you can use a special syntax:

[code]

In sh/bash/fish you can add an actual new line by pressing Shift+Enter:

[code]

If that doesn't work, you can use `printf` to parse the string and pipe that into :

[code]

I know I could just expand `\n` into a newline, but then it might m

[2017-06-29 16:01] chaica commented on #16
@ihabunek thanks for your last post, it solved my issue.

[2017-06-29 16:01] #16 closed

[2017-07-05 21:37] JSewell-Git opened #20 "Toot curses not working"
I have installed toot via pip3 (python3-pip). I have tried the `toot curses` command but this is returned:

[2017-07-06 22:19] albocc opened #21 "Emojis in account name causes crash"
After a successful login (I used `login_2fa`, but I don't think it matters) the application crashes, if the account name contains non-ASCII characters. If I run `toot whoami` to provoke this, I get the following error messages that seems to indicate that non-ASCII characters are a problem:

[code]

[2017-07-08 11:38] kasramp opened #22 "Unable to login to mastodon.xyz"
I am trying to login to mastodon.xyz but when I type `toot login` and enter `mastodon.xyz`, the application crashes and I have force exit pressing Ctrl+C which results in displaying `Registration failed. Did you enter a valid instance?`.
I am running toot on Ubuntu 16.04.2 LTS

[2017-07-08 13:15] kasramp commented on #22
It worked out of the sudden but the waiting time was too long (few minutes). This does not usually occurs with `mastodon.social`.

[2017-07-08 13:15] #22 closed

[2017-07-10 13:17] thebitstick opened #23 "Support for Pawoo's Pixiv Login"
Logging into toot currently requires an Email and Password but Pawoo.net allows users to login via basically oauth with Pixiv, meaning I don't have a password at all. This hasn't been a problem with other applications because they use the website to login and get an API key.

[2017-08-08 17:16] thebitstick opened #24 "Sending a toot with only an image"

[2017-08-09 04:42] LeoTindall opened #25 "Curses client should auto-resize"
It would be cool if the Curses client would respond to terminal resize events by resizing its internal windows and controls without having to quit and reopen it.

[2017-08-09 04:51] LeoTindall opened #26 "Timeline broken in skinny terminal"
I use a tiling WM and so am often in rather skinny terminals. It would be great if the timeline would wrap according to the actual width, and warn or perhaps refuse to print if the terminal is too thin to adjust to.

[2017-08-09 05:00] LeoTindall opened #27 "Curses crashes in skinny terminal, only on some posts"
With a terminal of 75 columns or fewer (94 or up is OK, couldn't test more granularly due to time constraints but I suspect 80 is the magic number), some posts cause the Curses interface to emit the following message and crash when trying to display their contents.

[code]

I can't find anything that is consistently the same about these posts. Some have Emoji, some do not. Some have media, some do

[2017-08-12 18:34] srnit commented on #10
just install them using --user option which install the package only for the current user and not for all

pip install xxxxxx --user

[2017-08-26 12:42] #19 closed

[2017-08-26 12:43] ihabunek commented on #19
@oleerik Try using `toot login_browser` for proper 2fa.

[2017-08-26 12:43] ihabunek commented on #23
@thebitstick Done, try using `toot login_browser` for proper 2fa.

[2017-08-26 12:43] #23 closed

[2017-08-26 13:35] ihabunek opened #28 "Curses client is incomplete"
The `toot curses` app is incomplete. Implementing it directly in [curses](https://docs.python.org/2/howto/curses.html), as is used now, is a pain in the ass. I have also tried [urwid](http://urwid.org/) which is slightly better, but still consumed too much time to get anything done.

See current app:
https://github.com/ihabunek/toot/blob/master/toot/app.py

If someone is interested in working on t

[2017-08-27 08:48] ihabunek commented on #24
@thebitstick Mastodon won't let me post a toot without text. It returns an error saying "Text can't be blank".
The web interface won't let you do that either. You need to provide some text.

[2017-08-27 08:48] #24 closed

[2017-08-27 16:28] thebitstick commented on #24
I can post just an image just fine on the web interface though.
http://i.imgur.com/IEGjmwZ.png
http://i.imgur.com/d7BQkoN.png

Could you just add the image link text?

[2017-09-06 15:59] FRidh commented on #18
@ihabunek the sdist that was uploaded to PyPI is incomplete.

@davidpgil for now you could install directly from the git repository instead.

[2017-09-07 13:18] ihabunek commented on #18
@davidpgil sorry for the long wait. This should not happen with 0.14.0+, i have removed access to requirements.txt from setup.py. Please try it out.

[2017-09-07 13:27] davidpgil commented on #18
Its seems the installation now works! However, typing "toot" throws the error

[code]

[2017-09-07 13:29] ihabunek commented on #18
I think curses is not supported on windows so it breaks the whole program. I will try to make the commands which don't need curses work on windows.

[2017-09-09 08:01] ihabunek commented on #18
I have released v0.15 which should address this issue. You should be able to use all commands except `toot curses`. Upgrade and try it out.

[code]

[2017-09-13 15:49] matthiasbeyer opened #29 "Errors if piping output"
[code]

results in

[code]

[2017-10-20 14:37] beli3ver commented on #28
Is there a way to update the stream?

[2017-10-20 14:44] beli3ver commented on #28
Maybe a possibilty to post  in the client would be nice

[2017-10-20 14:46] beli3ver opened #30 "KeyUp & KeyDown not working"
Hi there,

the KeyUp & KeyDown option under Debian is not working

https://github.com/ihabunek/toot/blob/master/toot/app.py#L79

Thanks

[2017-11-14 06:16] ihabunek commented on #28
Note to self: check out https://github.com/jquast/blessed

[2017-11-14 06:24] tleb commented on #28
I have heard good things about termbox, which seems to fit the needs of the app:

Main repo: https://github.com/nsf/termbox (link for the python bindings in the README).

[2017-11-14 06:26] ihabunek commented on #28
@tleb thanks, I'll check it out.

[2017-11-23 22:46] jeroenpraat opened #32 "Multiple accounts"
I tried to find if it's possible to use multiple accounts, but I couldn't find it. So maybe it's possible, but I didn't find it, or this is a feature request.

[2017-12-10 14:54] veer66 opened #33 "toot curses crashes when display some boosts"
By displaying this boost ![screenshot-2017-12-10 sakamoto social](https://user-images.githubusercontent.com/370688/33806032-6a7b479e-ddf4-11e7-9836-456d16f6034f.png) from https://social.sakamoto.gq/users/eal makes toot curses crashed.

The error message is as follow:
[code]

[2017-12-12 10:09] ihabunek commented on #33
Thanks @veer66. Releasing in a sec.

[2017-12-12 10:09] #33 closed

[2018-01-02 11:31] ihabunek commented on #32
@jeroenpraat I found some time to work on this. It would help me greatly if you could test out the new changes. They can be found in PR #36.

The configuration is now stored in a single JSON file, your current config should be migrated automatically. Old config is not deleted, so it's easy to move back to the current stable version.

You can log into multiple instances, use `toot auth` to see all

[2018-01-02 11:32] ihabunek commented on #5
Closing as duplicate of #28.

[2018-01-02 11:32] #5 closed

[2018-01-02 11:34] ihabunek commented on #17
Not sure why this happened, please report if it happens again. I hope you can use the debian or openbsd packages which are now available to get around using pip to install.

[2018-01-02 11:34] #17 closed

[2018-01-02 11:36] ihabunek commented on #29
@matthiasbeyer I decided to drop support for python2, unicode support is one of the reasons. Could you please check if this happens with py3 and the latest version?

[2018-01-02 11:40] ihabunek commented on #21
@albocc Could you tell me if this still happens with latest version? I'm unable to reproduce. Tried adding various unicode to my display name, including the one in question above `0001f50f`  🔏.

[2018-01-02 11:42] ihabunek commented on #27
Thanks for reporting this. The curses app is woefully incomplete. See #28.

[2018-01-02 11:50] #18 closed

[2018-01-02 16:09] jeroenpraat commented on #32
Great, thank you for your work! If I have time during the next couple of days, I will check it out.

[2018-01-02 18:11] matthiasbeyer commented on #29
Pushed an update to nixpkgs which updates toot to 0.16.2 (which fixes this issue for me).

[2018-01-02 18:11] #29 closed

[2018-01-02 18:36] ihabunek commented on #29
@matthiasbeyer That's cool. Would you mind contributing instructions for installation on nixos?

[2018-01-03 10:27] ihabunek opened #38 "Explore running curses on windows"
Curses is available as an extension here:
https://www.lfd.uci.edu/~gohlke/pythonlibs/#curses

[2018-01-04 10:20] ihabunek commented on #25
@LeoTindall Could you check out if #39 fixes your problem? Works in my terminal.

[2018-01-04 10:24] ihabunek commented on #28
Tried out [asciimatics](http://asciimatics.readthedocs.io/en/stable/) over the weekend. It's actually pretty nice to use, but seems to be pretty sluggish compared to base curses. E.g. Holding the down arrow when navigating over a list of items produces jaggedy jumps. Resizing the screen causes a ~1s delay while it's redrawn again. Not sure this is the way to go.

[2018-01-05 16:49] ihabunek commented on #21
This should be fixed. Please reopen if this is not the case.

[2018-01-05 16:49] #21 closed

[2018-01-05 16:50] ihabunek commented on #20
@JSewell-Git I have dropped the support for python 2 which was making it difficult to easily support unicode. Could you check again if this still happens? Which terminal do you use?

[2018-01-05 16:51] ihabunek commented on #7
`toot timeline` is superceded by `toot curses` so I will not be doing further work on supporting this command.

[2018-01-05 16:51] #7 closed

[2018-01-05 16:51] ihabunek commented on #9
`toot timeline` is superceded by `toot curses` so I will not be doing further work on supporting this command.

[2018-01-05 16:51] #9 closed

[2018-01-05 16:52] ihabunek commented on #32
@jeroenpraat i'd love to merge this by the end of the week, if you have some time on the weekend to check this it would be most appreciated.

[2018-01-05 16:53] ihabunek commented on #30
@beli3ver This should be fixed by PR #39, if you have some time check out the code and let me know if it works.

[2018-01-05 16:55] ihabunek commented on #27
@LeoTindall This issue, as well as #25 and #26 should be fixed by PR #39, if you have some time check out the code and let me know if it works.

[2018-01-05 17:38] jeroenpraat commented on #32
Thank you fore remembering me. But can you tell me how to install this pull request? I have now installed toot via pip3, but to use the pull request I have to install it using git clone? Right? Can you explain how to do this, including the pull request?

[2018-01-05 18:16] ihabunek commented on #32
You can install straight from branch using pip:
[code]
You need the pip which works with python3, so depending on your OS, it might be `pip3` instead of `pip`. You can check the version by running:
[code]
you should get something like
[code]

[2018-01-05 18:54] jeroenpraat commented on #32
Ok thanks, I succeeded to upgrade to that particular branch. First signs are good. Later this evening I gave you more results.

[2018-01-05 20:21] jeroenpraat commented on #32
@ihabunek I tested all login related features with 3 accounts, from 2 different instances. And it works perfect!

Thanks!!!

[2018-01-05 20:21] #32 closed

[2018-01-05 20:36] ihabunek commented on #32
Thanks for testing. I found an issue when there's no old config. Will fix that and release.

[2018-01-05 20:38] jeroenpraat commented on #32
Oh yes, I only tested it with existing config. Thanks for your work!

[2018-01-06 06:18] beli3ver commented on #30
I get this error:

[code]

[2018-01-07 22:51] JSewell-Git commented on #20
Hey @ihabunek,

I no longer have an Mastodon account. Since I faced this issues several months ago I'm not 100% on what software I was using exactly. I think I was on Ubuntu using the default terminal.

Sorry I cannot re-test to see if this issue is still present.

[2018-01-13 22:16] #20 closed

[2018-01-14 14:35] #12 closed

[2018-01-14 14:49] #25 closed

[2018-01-14 14:49] #26 closed

[2018-01-14 14:49] #30 closed

[2018-01-15 12:50] ihabunek commented on #30
@beli3ver can you please upgrade to v.0.17.0 which was just released and try again? If you still get the error, please tell me which OS and terminal you're using.

[2018-01-15 12:51] ihabunek commented on #27
@LeoTindall this should be fixed in 0.17.0, please upgrade and test. I set the lower limit to 60 columns, which seems reasonable, to allow some room for the toots to be rendered nicely.

[2018-01-15 17:06] LeoTindall commented on #27
Sorry for not responding before; yes this does seem to be fixed for my use case. Thanks so much!

[2018-01-15 17:54] beli3ver commented on #30
[code]

[2018-01-15 20:39] ihabunek opened #40 "make_config fails when config dir doesn't exist"
[code]

[2018-01-15 21:58] ihabunek opened #41 "ui module not packaged"
After installing from deb, running `toot curses` causes:

[code]

[2018-01-15 22:16] #40 closed

[2018-01-15 22:16] #41 closed

[2018-01-15 22:28] ihabunek commented on #30
@beli3ver That was a packaging issue (#41), fixed it and released `0.17.1`. Please upgrade and try again.

[2018-01-16 03:41] beli3ver commented on #30
Ok, thanks it works.
KeyUp and KeyDown working now

[2018-01-17 07:24] ihabunek opened #42 "Rendering spoilers"
Should show only lead in text, then require an action to show the rest.

[Status](https://github.com/tootsuite/documentation/blob/master/Using-the-API/API.md#status) has a field for this:

Actual:

![image](https://user-images.githubusercontent.com/482138/35030496-6fcc6b5a-fb5f-11e7-969f-f6b73a3d5a50.png)

Expected:

![image](https://user-images.githubusercontent.com/482138/35030510-82f460de-fb5f-

[2018-01-20 12:46] #42 closed

[2018-01-21 13:11] #27 closed

[2018-01-21 13:12] ihabunek commented on #28
No app is ever finished but it's usable now. Will continue working on it using plain curses for now.

[2018-01-21 13:12] #28 closed

[2018-01-21 13:13] ihabunek opened #43 "Implement page up/down navigation"

[2018-01-23 13:42] kasramp opened #44 "Cross posting to multiple account"
Realized multiple accounts implemented in #32. It would be good to be able to cross toots or even sync different accounts.

[2018-01-24 15:57] ihabunek opened #45 "Wide characters break layout"
e.g. chinese and japanese script, some emojis, etc.

Check out:
https://github.com/jquast/wcwidth

[2018-01-25 00:12] anarcat opened #46 "silent posting"
could it be possible to implement a silent posting mechanism, like a `--quiet` flag? i am using this program in a batch script and it's annoying to silence its output, because it means I hide possible failures...

thanks!

[2018-01-25 09:27] ihabunek commented on #46
That should be simple to implement. But you can also just redirect stdout to `/dev/null` since all errors are written to stderr.

[2018-01-31 21:19] mathdatech opened #49 "error to the first run"
Hello,
when I want to run toot, I've a error, but I don't understand why. they have the same error on my 3 computers (Fedora 27) :

[code]
[code]

do you have a solution?

[2018-03-05 04:05] kakakaya opened #50 "Need document for `toot curses`"
I couldn't find document about curses in `toot curses -h` or README, but found it in source code.
https://github.com/ihabunek/toot/blob/c6b1d913707e9a107b44537e1f67dac73d82fe72/toot/ui/app.py#L344-L371

I propose to make document about curses, for better user experience.

[2018-03-05 18:08] kakakaya opened #51 "`toot timeline` is displaying home timeline, not public timeline."
According to `toot timeline --help`, it shows items in **public timeline**.

But, `timeline` command is displaying **home timeline**, using `api.timeline_home`.
https://github.com/ihabunek/toot/blob/master/toot/commands.py#L57

Which is right?

[2018-03-05 18:13] kakakaya opened #52 "Support for local timeline viewer"
As I mentioned in Issue #51 , `toot timeline` 's doc claims to display public timeline, but its implementation is displaying home timeline.

But, anyway there's no way to display local timeline. I'd like to check local timeline using toot command.

[2018-03-08 15:55] kingu-gidora opened #54 "Possibility to delete a post - feature request"
Would it be possible for the post command to return some ID that can later be used to delete the post?

[2018-04-05 15:53] marnanel opened #55 "Option to accept all HTTPS certificates"
It would be useful to have a commandline option to accept all HTTPS certificates. When you're testing a new server, especially one on an intranet, it's common not to have a valid certificate for that server.

This isn't trivial to implement at present; it requires "valid" to be set on the Session object in send_request() in api.py. send_request() is called from all over the place, so adding a new

[2018-04-05 16:13] marnanel opened #56 "Fetch instance data using HTTPS, not HTTP"
The "login" command always fetches instance data using HTTP:

[code]

But toot uses HTTPS at no other time, not even later in the login attempt. For example, with a hacked-up server which answers on HTTP:

[code]

[2018-04-17 12:27] joachimesque commented on #49
I got the same problem when I installed toot from pipy on macOS  10.13.4 High Sierra.

[2018-04-17 17:17] mathdatech commented on #49
A update (of what ?) resolve my problem.

[2018-04-17 17:17] #49 closed

[2018-04-21 17:11] ihabunek opened #60 "Check out npyscreen "
https://medium.com/@bad_day/create-tui-on-python-71377849879d

[2018-04-21 17:18] ProgVal opened #61 "Support hashtag timelines"
Hi,

The Mastodon API supports returning the timeline of toots with a hashtag, eg: `https://mastodon.social/api/v1/timelines/tag/myhashtag`

Could you add a command to `toot` to show it?

Thanks!

[2018-06-07 04:02] matthewgraybosch opened #63 "toot post could use a CW argument"
I'd like to specify a content warning when posting using "toot post", but I don't see an option for that in "toot post --help". Are CWs implemented in toot?

[2018-06-07 09:38] ihabunek commented on #63
I added it in fa4e4e6357924df8ec21baca4136350f964b8355, will be in next release.

[2018-06-07 15:38] matthewgraybosch commented on #63
Awesome. Now I can CW my weekly "Please buy my novels" auto-toots as the advertisements they are. Thanks!

[2018-06-07 15:38] #63 closed

[2018-06-07 21:15] Doshirae opened #64 "Feature request : split up a too long post"
If the toot that we want to send is longer than 500 characters, instead of just an error, it would be nice if it could split the post into 2 posts, the 2nd one replying to the first (but I guess #6 need to work before that)

[2018-06-12 10:40] ihabunek commented on #61
@ProgVal Supported in `toot timeline` since 0.18.0. Not yet supported in curses.

[2018-06-12 10:41] ihabunek commented on #52
Fixed in #65

[2018-06-12 10:41] #52 closed

[2018-06-12 10:41] ihabunek commented on #51
Fixed in #65

[2018-06-12 10:41] #51 closed

[2018-06-14 08:39] ihabunek commented on #54
@kingu-gidora It already gives you the ID in the success message which looks like:
[code]
100202249801818634 is the status ID.

I'm also adding a delete command so you can delete statuses by running:
[code]

BTW, I have been thinking about adding an option which would return machine-readable data instead of human readable text. For example, when posting to return the status data in JSON as receive

[2018-06-15 07:05] ihabunek commented on #46
@anarcat I added a `--quiet` flag which can be applied to any command to disable output to stdout on success. Errors will still be written to stderr. Does that work for you? Will be released in v0.19 soon.

[2018-06-21 12:38] anarcat commented on #46
i haven't tried it but it looks pretty much like what i need, thanks!

[2018-06-25 12:42] ihabunek opened #66 "Consider packager.io for packaging"
It's free for open source, may simplify things.

[2018-06-27 14:13] ihabunek opened #67 "Add support for attaching multiple media files"

[2018-06-30 12:03] scrow commented on #50
Documentation is lacking for this entire project.  It's usually not that difficult for me to download some source files from Github, compile, and run, but I feel like I'm flying totally blind here.  All of the documentation is way too sparse.  Plenty of stuff to tell me what this project is supposed to do, nothing to tell me how to actually use it.

[2018-06-30 12:08] ihabunek commented on #50
@scrow True. I started setting up [proper docs](https://toot.readthedocs.io/en/latest/), but it still requires a lot of work. Since this is a pet project, I can only invest so much time writing docs.

Can you tell me what you're trying to do, and why it was hard to find out? Installation is documented, and the CLI commands are pretty well explained if you append `--help`.

Finally, contributions a

[2018-07-05 16:55] Gumnos opened #68 "Crashes due to Unicode chars"
Trying both `toot curses` and `toot timeline` crash, both apparently due to Unicode characters in my timeline:

    tim@solo:~$ toot curses
    Traceback (most recent call last):
      File "/usr/local/bin/toot", line 11, in <module>
        load_entry_point('toot==0.17.1', 'console_scripts', 'toot')()
      File "/usr/local/lib/python3.6/site-packages/toot/console.py", line 338, in main
        r

[2018-07-05 17:00] Gumnos commented on #68
Oh, and in case you need version information, it's `toot` from the OpenBSD package repos (0.17.1) from what I can tell:

    tim@solo:~$ pkg_info toot | head -1
    Information for inst:toot-0.17.1

[2018-07-05 17:53] ihabunek commented on #68
It's a locale issue, I can reproduce if I set `LC_ALL=C`. That locale doesn't support unicode.

I don't have experience with locales on OpenBSD. On Debian I have something like this by default:

[code]

You can try running `locale -a` to see all installed locales. And toot should work if you run `LC_ALL="en_US.UTF-8" toot timeline` if that locale is installed.

Just don't hardcode `LC_ALL`, see ho

[2018-07-23 16:42] AgeOfMarcus opened #69 "Curses help menu typo"
In the curses app, when you open the help menu, it says

"Press q to exist help"

When it should say

"Press q to exit help"

[2018-08-04 11:01] Hund commented on #6
How do I find the ID?

[2018-08-17 16:58] dheadshot opened #73 "How to reply? ID not available from timeline!"
There *is* a method for replying to posts given their ID.  That's fine.  The problem is that the `timeline` output doesn't actually show the post ID!  In other words, how do I find out the ID in order to reply to a post from the timeline?!

Thanks in advance.

[2018-08-17 17:05] dheadshot commented on #45
I'm finding that *none* of the lines fit the screensize!
![ss1](https://user-images.githubusercontent.com/19638574/44279079-0a5cd080-a248-11e8-9d3e-a35df55ebd21.png)

[2018-08-17 17:08] ihabunek commented on #45
`toot timeline` is basically unfinished, i should document this. In the meantime check out `toot curses` which is nicer & interactive.

[2018-08-17 17:09] ihabunek commented on #73
There is currently no way of telling the ID, except when you post your own toots in which case you get an ID back as part of the URL.

[2018-08-17 17:10] ihabunek commented on #69
Fixed in #71

[2018-08-17 17:10] #69 closed

[2018-08-25 18:51] Hund commented on #16
A little late reply, but you can use `echo` if you add the flag `-e` which enables interpretation of backslash escapes. :)

[2018-08-27 13:48] nils-van-zuijlen opened #75 "Possibility to boost a post - feature request"
Would it be possible to boost a post (RT) using your tool ?

[2018-08-27 13:51] nils-van-zuijlen commented on #75
I think of a command like `toot boost <id-of post>`

[2018-08-31 14:39] joereddington opened #76 "Install failed on OSX :("
Installed with pip as per docs - installation claimed to go fine and then I get an error when running :(

[code]

[2018-08-31 15:03] nloadholtes commented on #76
I had the same issue. I switched to using python3 and everything worked.

[2018-08-31 15:19] ihabunek commented on #76
Yes, python 2 is not supported any longer. Not sure why pip lets you install with py2. I also need to add a notice on the installation instructions. Thanks for reporting.

[2018-10-21 17:31] ihabunek commented on #60
@ihabunekx test

[2018-11-26 17:07] sramkrishna commented on #67
it would be great to attach a media file to a post so hopefully something that could be done.

[2018-11-26 17:13] ihabunek commented on #67
@sramkrishna you can already attach a single media file to a post:
[code]
This issue is to allow multiple files.

[2018-12-08 20:35] dadosch opened #79 "toot now in AUR"
I just wanted to ping you. toot has been added to the Arch Linux User Repository https://aur.archlinux.org/packages/toot/ (something like PPAs with Ubuntu). If you want, you can add it to the README. :smiley:

Thank you for this great piece of software :+1:

[2018-12-08 22:02] ihabunek commented on #79
@dadosch That's very kind of you. Thanks for letting me know. I'll leave the issue open so I remember to add it to the README.

[2018-12-28 15:10] Unip0rn opened #81 "Feature Request: toot timeline notifications"
Important things first: this is a very cool project and I am very happy it exists.
Other things: For me as a user using toot as UI I miss an option to get my notification column.
from the help-message my first guess would be to add it as another timeline, e.g. as ```toot timeline notif[ications]```

[2018-12-29 02:20] Unip0rn commented on #81
(from the functionality view. docs are an issue I will adress in a PR, obviously)

[2018-12-30 09:03] ihabunek commented on #56
Fixed via #80 and b06e9ea733674ece381c52674951fbb124722f39. Please check if this works for you.

[2018-12-30 09:03] #56 closed

[2018-12-30 11:44] #68 closed

[2018-12-30 11:44] #46 closed

[2019-01-01 15:24] ddevault opened #82 "Feature request: toot post via stdin"
Would be nice for writing multi-line posts

[2019-01-01 18:30] ihabunek commented on #82
You can already do this, see [usage examples](https://toot.readthedocs.io/en/latest/usage.html#examples).

It should be documented in `toot post --help` I guess.

[2019-01-01 18:34] ddevault commented on #82
Ah, cool. This doesn't work if stdin is a tty, though. I want to type the message straight into my terminal.

[2019-01-01 18:56] ihabunek commented on #82
Steps to reproduce?

[2019-01-01 18:57] ddevault commented on #82
[code]

[2019-01-01 18:59] ihabunek commented on #82
Expected behaviour would be like running `cat | toot post`?

[2019-01-01 18:59] ddevault commented on #82
Aye

[2019-01-01 19:05] ihabunek commented on #82
Makes sense, I'll look into it.

[2019-01-02 09:51] #82 closed

[2019-01-02 10:47] ihabunek commented on #79
@dadosch To install toot, an Arch user needs only to `pacman -S toot` or is there some other action required?

[2019-01-02 11:33] #75 closed

[2019-01-02 11:34] ihabunek commented on #75
This has been implemented. I used the opportunity to add other status-related commands. Check out 82ed630864592ba19d84a809ef27664205d2ead4.

I used "reblog" instead of "boost" since that's what mastodon uses.

Will be released in 0.20.0 one of these days.

[2019-01-02 13:06] dadosch commented on #79
@ihabunek an Arch user needs to use a AUR Helper like yay, so it would be `yay -S toot`

[2019-01-02 13:16] ddevault commented on #82
Thanks!

[2019-01-24 10:20] #61 closed

[2019-02-11 15:20] msnyder-info opened #90 "$EDITOR support"
I'd like to be able to enter `toot post` at the command line, with some argument which opens $EDITOR to a temporary file whose contents are then posted to the timeline.

[2019-02-12 17:33] joss-rendall commented on #90
Hy !
I wrote this script - maybe it can inspire you?
It allows to write another provisional script that runs several Toot commands one after the other.
The purpose is to publish an existing image list in a directory (cd/to-Toot).
The script lists images or files, turns it into a script with several Toot commands, breaks every 30 files (Mastodon limitation?)
[_made-sh-to-toot.zip](https://github.co

[2019-02-12 20:52] msnyder-info commented on #90
Thanks! I'll take a look at it.

[2019-02-13 01:13] trondd555 opened #91 "Include Makefile in release tarball"
You include tests in the release tarball but not the Makefile which defines how to run them.  Would it be possible to include the Makefile in the release tarball?  It's used by the OpenBSD ports system when creating the package in order to run the tests.

This would help verify functionality and keep the port  up with changes you might make to test execution.

[2019-02-13 08:00] ihabunek commented on #91
Sure, I'll add it to the next release.

[2019-02-14 17:13] #79 closed

[2019-02-14 17:16] ihabunek commented on #79
@dadosch Thanks again, Added the instructions. If you'd like to be mentioned as maintainer, let me know which name and contact (e.g. email) you'd like shown in the docs.

Just a heads-up, the next version will have an additional dependancy on the wcwidth python package.

[2019-02-14 17:17] ihabunek commented on #73
This will be available in timeline and thread in next version (0.21.0), released soon.

[2019-02-14 17:17] #73 closed

[2019-02-14 17:24] ihabunek commented on #75
Also added to `toot curses` by pressing "b".

[2019-02-15 13:24] ihabunek opened #94 "Better timeline wrapping"
* allow user to define desired width
* detect terminal width if possible

[2019-02-15 13:25] ihabunek opened #95 "View user's timeline"
Something like

[code]

[2019-02-15 15:57] ihabunek commented on #91
Included in the latest release:
 https://github.com/ihabunek/toot/releases/tag/0.21.0

[2019-02-15 15:57] #91 closed

[2019-02-15 15:58] ihabunek commented on #50
Basics explained here: https://toot.readthedocs.io/en/latest/usage.html#using-the-curses-ui

[2019-02-15 15:58] #50 closed

[2019-02-15 16:05] ihabunek commented on #55
This has been implemented in #80 and released in v.0.20.0.

You can use `toot login --disable-https ` to use http.

[2019-02-15 16:05] #55 closed

[2019-02-15 16:06] ihabunek commented on #4
I believe this was an issue with python 2, newer versions only support python 3. If this still occurs, please open a new issue. Thanks.

[2019-02-15 16:06] #4 closed

[2019-02-15 16:07] ihabunek commented on #45
This should be much better now. Still need to implement setting the screen width to fit the terminal. Currently hardcoded to 100 chars wide.

[2019-02-15 16:09] ihabunek commented on #54
`toot delete` has been implemented and released in v0.19.0. Status ID also added to `toot timeline`.

[2019-02-15 16:09] #54 closed

[2019-02-15 16:09] #76 closed

[2019-02-23 12:43] bas080 opened #97 "Installing through pip results in an application that doesn't work"
Just ran `sudo pip install toot`. The installation resulted in some errors.

[code]

Running too results in the following error:

[code]

[2019-03-01 14:38] ihabunek opened #98 "Use repology to show available repos"
https://repology.org/project/toot/versions

[2019-03-08 21:25] dadosch commented on #91
From AUR:

The Makefile also gets included if you do a regular `setup.py install` which shouldn't be the case I suppose?

[2019-03-23 05:44] dewomser commented on #97
pip uninstall toot
pip3 install toot

[2019-04-16 12:15] #81 closed

[2019-04-24 12:22] ihabunek opened #100 "Disappearing status list"
To reproduce:

* open toot curses

![image](https://user-images.githubusercontent.com/482138/56658942-33b5e200-669c-11e9-8dfe-1b451cbaee6c.png)

* press "c" to compose a new toot, status list disappears:

![image](https://user-images.githubusercontent.com/482138/56659010-5fd16300-669c-11e9-8a1c-ab3b885a2dd9.png)

The issue does not occur if the user moves down the status list by pressing `j` befor

[2019-04-24 12:27] ihabunek commented on #100
This seems to occur when calling getch on text window:

https://github.com/ihabunek/toot/blob/aff0c2281f772d7abd63f35f1f9381c550f7de94/toot/ui/app.py#L447

[2019-04-24 13:01] ihabunek commented on #100
@Skehmatics Could you take a look at this issue?

I've also reproduced the same issue by calling `self.stdscr.getch()` instead of `self.left.pad.getch()` in the main loop.

[2019-04-24 23:01] Skehmatics commented on #100
@ihabunek This also does not occur when I prevent the call to `curses.panel.update_panels()` in the Modal base class. I'm not sure exactly _why_ it works just fine without it, or more relevantly why `getch()` triggers this issue. Maybe it might have something to do with the automatic tty mode change that occurs?

I've got a [branch](https://github.com/Skehmatics/toot/tree/fix-100) containing that

[2019-04-25 04:54] Skehmatics commented on #100
Looks like it was much simpler, Modal's `__init__` was making changes to the panel stack (via `self.panel.hide()`) without also calling `curses.panel.update_panels()` before the next update call, likely mucking up the internal panels state. I've replaced that with the regular `Modal.hide()` method so that new subclasses don't start out with the same odd state.

[2019-04-25 12:48] #100 closed

[2019-06-14 21:17] albancrommer opened #103 "Provide a --json command line argument"
I think it would be «good to have» something like

``./toot-cli timeline -t somecooltag -c 10 --json -1``

So one can read and store that information for potential reboost, which is my use case.

I've hacked a 6 lines solution, if you think that's an idea you like:

https://github.com/albancrommer/toot/commit/9dfdaaa28016444e6a862a7ff6ee00ed79d4da3c

[2019-06-16 14:38] BNolet opened #104 "Ability to view thread from curses view"
I would like to be able to press the side-arrow (right) to view a thread of replies.

[2019-06-18 07:47] dlax commented on #104
I've been hacking something like that a little while ago, but never got happy enough to submit a PR.

[2019-08-01 10:57] #67 closed

[2019-08-01 10:57] #45 closed

[2019-08-01 11:09] ihabunek commented on #91
@trondd555 I'm going to revert this change for now, since including the Makefile is causing problems to multiple other users, and I can't figure out how to include the Makefile without it being installed. Let me know if you have any ideas.

[2019-08-01 11:38] ihabunek commented on #103
I like this idea, but I'd like a more systemic approach so I can easily support json output from various commands.

[2019-08-02 21:00] albancrommer commented on #103
Well, how would you do that then ?

I'd use adapters based on common interface for outputs.

- Shell adapter as the default adapter.
  - Use the Json adapter instead If ```--json``` in command line,
  - Use a Db adapter or any other facility if someone feels like hacking a new one based on the interface.
- Commands use the adapter instance provided via the method of your choice like
`out.write(ite

[2019-08-03 14:31] trondd555 commented on #91
Not a python person, but searching around there seems to be a couple options ranging from overriding setup.py functions to using manifest files.  I don't know what the best thing would be to do.

If no one else knows, I'll try out some of the options when I get a chance.

[2019-08-07 09:47] maptile opened #106 "Unable to login to mstdn.jp, 403 error"
When I login mstdn.jp account using the following command `toot login --instance mstdn.jp --debug`, toot shows the following error.

It seems that it is Cloudflare send this error. And in error message, it shows the useragent should
 enable cookie to pass the access check.

Can this problem be fixed in toot? Or is there some workarounds?

Thanks.

[2019-08-07 12:02] ihabunek opened #107 "Leading spaces are removed"
For example, this toot:
https://mastodon.social/@yogthos/102562707707732986

Is rendered like this:
![image](https://user-images.githubusercontent.com/482138/62621435-1f7cb480-b91c-11e9-89cd-27f7e1ea4c78.png)

And should look like this:
![image](https://user-images.githubusercontent.com/482138/62621448-26a3c280-b91c-11e9-9064-b3e85c4dfb27.png)

[2019-08-07 21:01] ihabunek commented on #106
@maptile Seems like Clodfare can be appeased by by setting a `User-Agent` header on requests. I've set it to `toot/<version>` and that seems to work fine.

[2019-08-08 01:28] maptile commented on #106
@ihabunek I've updated the code, and it WORKS! Thanks you.

[2019-08-08 01:28] #106 closed

[2019-08-22 15:39] #90 closed

[2019-08-22 15:41] ihabunek commented on #90
This has been implemented in d21cad8. Still need to add docs. Will be available in next release.

It will work like this if you have $EDITOR set:
[code]

Or you can override the editor:
[code]

[2019-08-25 16:07] cremesk opened #109 "check default permissions on config creation!"
Hello,

i have installed "toot" on Debian 10.
Then i use it the first time i use:
`toot login_cli`

after authentication the access token saved to: `~/.config/toot/config.json`

this file needs: `chmod 600 ~/.config/toot/config.json`!
i think i not posible then other user can read the secrets.

pls fix it by default!

Thanks

[2019-08-27 11:20] #109 closed

[2019-08-27 11:21] ihabunek commented on #109
@cremesk Fixed, thanks for reporting, that totally went over my head when writing the code.

[2019-08-29 10:58] ihabunek commented on #107
Fixed in new TUI

[2019-08-29 10:58] #107 closed

[2019-08-29 11:04] ihabunek commented on #60
Decided to use Urwid.

[2019-08-29 11:04] #60 closed

[2019-08-29 11:04] ihabunek commented on #43
Implemented in new TUI

[2019-08-29 11:04] #43 closed

[2019-09-01 07:52] ihabunek opened #111 "Date parsing issue in WSL"
[code]

[2019-09-03 19:12] Hund opened #114 "`toot tui` results in a "ValueError: time data […]""
I installed the latest version of toot on my Gentoo box and when I run `toot tui` I'm greeted with this:

![2019-09-03-210841_788x468_scrot](https://user-images.githubusercontent.com/320498/64201460-10434500-ce8f-11e9-85c2-230c1e93bc07.png)

* Python 3.6.5
* toot 0.23.0
* requests 2.21
* beautifulsoup 4.5.1
* wcwidth 0.1.7

[2019-09-04 06:04] ihabunek commented on #114
Seems that in Python versions <3.7 `%z` does not match `Z` as offset. Also, it does not match `±HH:MM` offsets, only `±HHMM` which could be sent by a server (although I haven't yet seen it).

See note 6 here:
https://docs.python.org/3.7/library/datetime.html#strftime-and-strptime-behavior

[2019-09-04 06:28] ihabunek commented on #111
Duplicate of #114

[2019-09-04 06:28] #111 closed

[2019-09-04 06:43] ihabunek commented on #114
Should be fixed in https://github.com/ihabunek/toot/releases/tag/0.23.1
Please verify.

[2019-09-04 14:36] Hund commented on #114
Verson 0.23.1 solves it. Thanks! :)

[2019-09-04 14:36] #114 closed

[2019-09-04 18:47] dadosch opened #115 "add urwid<3.0,>=2.0.0 to requirements.txt"

[2019-09-05 04:47] ynakao opened #116 "`toot tui` crashes by KeyError: 'author_name' with pleroma instance"
Thank you for the great software.

It might not be a toot's issue because I use it with [Pleroma](https://pleroma.social/), which is a Mastodon compatible federated SNS server. When I tried to open curses view by newly introduced `$ toot tui` command, toot crashed claiming `KeyError: 'author_name'` after typing `j` to see the next post. Please refer to full traceback below. `$ toot curses` and `$

[2019-09-05 08:36] ihabunek opened #117 "Implement user-configurable TUI settings"
Some things which could be configurable:

* palette
* symbols for favourite, reblog & reply - some fonts might not have the default ones
* app for viewing media

[2019-09-05 08:42] ihabunek commented on #104
Implemented in `toot tui`

[2019-09-05 08:42] #104 closed

[2019-09-05 20:18] ihabunek opened #118 "Detect whether to use colored output"
Don't show colors if
a) not in a tty
b) terminal doesn't support color

Check out how django detects this:
https://github.com/django/django/blob/5195b99e2c3804ec5f9c98d29e0cf76bf44b0cec/django/core/management/color.py#L12

[2019-09-05 20:23] ihabunek opened #119 "Add usage tips for windows users"
* ansicon for terminal colour http://adoxa.altervista.org/ansicon/
* save config in appdata/roaming

[2019-09-06 13:52] #115 closed

[2019-09-06 14:04] ihabunek commented on #118
Done in 367ced2eef38baa70f2fde4a2e034d1bdf18fe85

[2019-09-06 14:04] #118 closed

[2019-09-07 14:32] Aicaya opened #121 "Feature request: Show toot character count on TUI"
Would be useful to know how many characters a toot has while composing, to prevent both errors and unwanted splitting (in case [that feature request][1] is applied). Could also make the counter change colors once it goes past the character limit to warn the user, and possibly add an option to raise the limit in a configuration file in case it's a server with a much higher character limit.

[1]: ht

[2019-09-07 19:12] hushroom commented on #116
I see this bug too, unfamiliar with this application and AP in general, but fixed the immediate KeyError by changing this instance of `dict["key"]` to `dict.get("key") ` which returns None if key doesn't exist in myDict rather than KeyError.

I checked for other instances of this code pattern too and there are more cases like this that would cause a similar crash if an implementation returns a dic

[2019-09-09 13:17] highvoltage opened #124 "'toot tui' crashes with "Unrecognised color specification""
I build a debian package from the 0.23.1 sources and when running 'toot tui', I get the following:

[code]

[2019-09-11 05:29] ihabunek commented on #124
I cannot reproduce this on a clean Debian 10 machine. What version of Urwid do you have installed? I think you may have urwid 1.x, and toot requires urwid 2.x.

[2019-09-11 12:31] highvoltage commented on #124
Debian has urwid 2.x, will check again tonight, maybe I had something old installed via pip.

[2019-09-18 05:41] clemat opened #129 "0.23.1 does not ship regress tests in the github release tarball"
Hello,
toot 0.23.1 doesn't ship regress tests in the github release tarball.
(used in the OpenBSD ports).
Could this be added to the next maintenance release?
Thanks.
Regards,

[2019-09-18 06:07] #129 closed

[2019-09-18 06:08] ihabunek commented on #129
@clemat Done.

[2019-09-19 13:33] ynakao commented on #116
After v0.24.0 released, this issue seemed to be resolved. Thanks.

[2019-09-19 13:33] #116 closed

[2019-09-22 16:59] ihabunek commented on #124
@highvoltage I'm guessing this can be closed since 0.23.1 was accepted into testing?

[2019-09-23 08:27] highvoltage commented on #124
I'm not sure what went wrong before but it seems to work fine for me now, so yes, closing...

[2019-09-23 08:27] #124 closed

[2019-09-23 14:45] popey opened #131 "Syntax error when using toot tui"
I wanted to try the new tui interface but I get the following error. I tried deleting my config and re-authing, but I get the same issue. Any ideas what I'm doing wrong?

[code]

[2019-09-23 14:51] #131 closed

[2019-09-23 14:52] ihabunek commented on #131
Fixed, will be released in next version.

[2019-09-23 15:07] popey commented on #131
Thanks for the prompt fix!

[2019-10-22 08:50] bill-auger opened #133 "why the extra (duplicate?) source-balls for each github "release"?"
github automatically exposes a source-bal for each git tag e.g.
https://github.com/ihabunek/toot/archive/0.24.0.tar.gz

yet there is another beside it - is there a particular reason for this extra manual step? - off-hand, the significant difference i see is that the manually uploaded one does not contain a license nor changelog - that is the one that the AUR packager has chosen, and i am trying to

[2019-10-25 04:41] ndowens opened #134 "# in Hashtag search causes breakage"
http://ndowens.cf/bug/toot.png

How to reproduce:
Inside toot tui, press G, in Hashtag: put #ANYTAG-HERE and select local or remote.

I know no need to put # in the input, figured that out afterwards, but thought I would let you know.

[2019-10-31 04:20] aadilayub opened #135 "Search not working"
Using the search command gives the response of `Unknown error`.

![image](https://user-images.githubusercontent.com/31581044/67918797-abbb1280-fbbf-11e9-9b60-eefb5a3cff72.png)

I'm using toot on Fedora 31, installed using pip.

[2019-11-07 08:44] tshrinivasan commented on #124
I get the same issue with toot v.0.24.0 in ubuntu 18.04 today

shrinivasan@shrinivasan-Lenovo-Z50-70:~$ toot tui
Traceback (most recent call last):
  File "/usr/local/bin/toot", line 10, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.6/dist-packages/toot/console.py", line 545, in main
    run_command(app, user, command_name, args)
  File "/usr/local/lib/python3.6/dist-packages/too

[2019-11-15 14:23] ynakao opened #136 "toot tui crashes with Python 3.8"
After updated to Python 3.8 on Arch Linux, toot crashes while starting up `toot tui`.
I reinstalled toot from [AUR](https://aur.archlinux.org/packages/toot/), but no luck.

`toot timeline`, `toot whoami` and other commands also raise `Unknown error`.

[code]

[2019-11-15 21:52] ynakao commented on #136
Ohhh, this seems a server side fault. I only upgraded python related packages but ingored postgres packages in pacman.conf. toot works fine now after upgrading postgres and restarting them.

I really sorry for bothering you.

[2019-11-15 21:52] #136 closed

[2019-11-15 21:52] ihabunek commented on #136
No problem, thanks for reporting.

[2019-11-21 14:45] whistlewright opened #137 "TUI problems"
Just installed toot to my Debian 9 computer through apt. I can post. I can see my timeline but when I enter toot tui I get this:

james@kensington:~$ toot tui
Traceback (most recent call last):
  File "/usr/bin/toot", line 11, in <module>
    load_entry_point('toot==0.23.1', 'console_scripts', 'toot')()
  File "/usr/lib/python3/dist-packages/toot/console.py", line 545, in main
    run_command(app,

[2019-11-24 17:45] bill-auger commented on #137
with python 3.8, i needed to install python3 urwid

[2019-11-24 17:49] bill-auger opened #138 "toot tui crashes with Python 3.8"
[code]

[2019-11-24 17:56] bill-auger commented on #138
i can not seem to reproduce this though - it could be a problem only on first run - after trying again the program is working fine

the tui is quite nice BTW - it even renders polls

[2019-12-10 13:57] FedericoCeratto opened #139 "Nested threads"
Thank you @ihabunek for the worderful application.
Would you consider supporting a nested thread view e.g.
https://en.wikipedia.org/wiki/Conversation_threading ?

[2019-12-11 11:51] ihabunek commented on #139
I'm not opposed to the idea, but don't have a lot of free time to work on toot these days. Patches welcome. :)

[2019-12-25 17:11] brantg opened #140 "Toot tui hijacks mouse on ssh session"
In general this is an awesome project!

However, if you want to right-click, select or right-click, open link you're out of luck as toot tui takes over the mouse and blocks these actions.  Over an ssh link this is super unhelpful - can this be disabled in some fashion?

[2019-12-31 21:47] Moult opened #141 "Notifications, fonts, and attachments in TUI"
A few issues bundled into this bugreport, the first is a simple one:

1. I did not see any documentation on how to compose a new toot from `toot tui`. I had to guess that it was `c`. It would be good to add it to the help menu perhaps?
2. I didn't see any way to see notifications from the tui. Is there a way?
3. For systems which don't have the fancy font which shows the icons for stars / boosts /

[2019-12-31 22:14] Moult commented on #134
+1 :) sounds like a relatively simple fix, as it could just be stripped?

[2020-01-03 06:43] vonbraun1969 opened #142 "logout command does not work in TUI"
`toot whoami`
returns
@username

ID: XXXXXXXX
Since: 2020-01-03 @ 06:19:51

Followers: 0
Following: 2
Statuses: 2

https://mastodon.social/@username
`
However when running
`
toot logout AerospaceWeeb@mastodon.social
toot logout 'AerospaceWeeb@mastodon.social'
toot logout AerospaceWeeb
toot logout 'AerospaceWeeb'
`
I think that none of these actually log me out. Meaning that
`toot auth` still retur

[2020-01-03 08:25] ihabunek commented on #121
I've implemented the character count and attempt to load it from the server on init. Unfortunately, this is [not supported by Mastodon](https://github.com/tootsuite/mastodon/issues/4915), but Pleroma supports it at least.

I'll open another issue for overriding the char count per server.

This change will be released in next version.

[2020-01-03 08:26] ihabunek opened #143 "Override max_toot_chars per server"
Via config file presumably. Need to consider best way of doing this.

[2020-01-03 08:27] ihabunek opened #144 "TUI crashes if posting a toot with too many chars"
Handle this and show an error.

[2020-01-03 08:29] ihabunek commented on #142
Do you get an error message or any output?

When I log out of an account it looks like this:

![00003](https://user-images.githubusercontent.com/482138/71713772-6c9d7d80-2e0b-11ea-890d-e9a62029112f.png)

This removes the access token.

[2020-01-03 08:33] ihabunek commented on #141
It is in the help menu, the second command:

![00004](https://user-images.githubusercontent.com/482138/71713869-c736d980-2e0b-11ea-806c-73a0715ea620.png)

This is not yet implemented.

That should be configurable, but I don't have a user editable config file in place yet. I'll keep it in mind for future.

This is not yet implemented.

[2020-01-03 08:37] Moult commented on #141
Thanks for the reply! We'll leave this issue open for the remaining issues :) are they simple?

[2020-01-03 11:58] ihabunek commented on #141
I'll open separate issues and close this one, it's easier to track them that way.

Notifications are tricky, I still don't have a clear vision how to best integrate them. Attaching media and user settings (to disable or override current unicode symbols) should be easier. The timeline depends on my workload and motivation though, I won't make any promises.

[2020-01-03 12:03] ihabunek opened #145 "Implement user settings"
It would be nice if users could override default toot settings, especially for TUI, for example to change the color scheme or symbols used for boost/retweet (see #141).

[2020-01-03 12:03] ihabunek opened #146 "Allow attaching media to toots"

[2020-01-03 12:04] ihabunek opened #147 "Implement notifications in TUI"

[2020-01-03 12:04] #141 closed

[2020-01-03 19:40] Moult commented on #141
No worries :)

I think the most important aspect of notifications is to see replies to your toots, so that you can respond. Not sure if that's easier than the boosts / stars aspect of notifications. Perhaps it can be part of the "Go to / switch timelines" menu.

[2020-01-10 13:30] ihabunek opened #148 "Excecute CLI commands from TUI"
https://mastodon.social/web/statuses/103459250134319372

[2020-01-21 08:08] ihabunek commented on #133
Sorry for the late reply.

This was requested by some package maintainers. Apparently the tarballs generated by GithHub are not immutable, and can sometimes change in the future. They wanted something provided by the maintainer which is guaranteed to stay the same.

It's probably a good idea to add the license and changelog though.

[2020-01-21 09:01] ihabunek commented on #121
Released in v0.25.0.

TODO: #143

[2020-01-21 09:01] #121 closed

[2020-01-21 09:02] ihabunek commented on #134
Fixed by url-quoting the search string. Released in v0.25.0.

[2020-01-21 09:02] #134 closed

[2020-01-21 09:04] ihabunek commented on #135
Fixed by upgrading to [search v2](https://docs.joinmastodon.org/methods/search/), v1 has been removed.
Released in v0.25.0.

[2020-01-21 09:04] #135 closed

[2020-01-21 10:59] dadosch opened #149 "data files get added to wrong directory"
when installing using
`python setup.py install --root="somedir/" --optimize=1 --skip-build`

the following files are in somedir, that should not belong there:

somedir/usr/CHANGELOG.md
somedir/usr/LICENSE

The license should be at /usr/share/licenses.

[2020-01-21 12:42] bill-auger commented on #133
hello ivan - thanks for responding - ive noticed recently that
toot is broken on an arch system with python 3.8; so its good to
know that you are attending the project - i may be posting some
bug reports soon

just FWIW regarding this ticket, if that is the only reason for
the manual step, it is not necessary; and one could easily argue
the very opposite case, in terms of assurance - if it were me

[2020-01-21 13:39] ihabunek commented on #133
Ah, it's debatable. I'm not very experienced in packaging and the needs of maintainers. This was requested and it's not a big problem for me, so I'm doing it on each release.

Regarding bug reports, they're always welcome. Even more if accompained with patches. :D

[2020-01-21 13:48] ihabunek commented on #133
See, already [I'm getting complaints](https://github.com/ihabunek/toot/issues/149) about files not being in the right place. :D My problem is that I'd much rather pour my time into developing toot instead of juggling the mess that is python packaging.

[2020-01-21 13:48] ihabunek commented on #149
@dadosch I'm bad at packaging, if you have an idea how this should be done properly, a patch would be most appreciated.

[2020-01-21 17:23] bill-auger commented on #149
FWIW, there is no universal "should be" location - that is something specified in the packaging guidelines of each distro - if one follows the FHS for examnple, all user-installed files should go under /usr/local/ or /opt/, not /usr/ - /usr/ is for files installed by the distro maintainers, or the system package manager

i could not reproduce the problem reported in this ticket - no CHANGELOG.md o

[2020-01-21 17:38] bill-auger commented on #133
i was mistaken about any problems with python 3.8 - the problems were all because the 'toot' i was using was built against python 3.7 - release 0.24.0 works perfectly with python 3.8 - i only had to re-build it

[2020-01-21 17:53] bill-auger commented on #133
i did not realize you released a new version -
release 0.25.0 is good too

[2020-01-21 21:06] dadosch commented on #149
It was introduced in the latest 0.25.0 release.

[code]

For the latest 0.25.0 release, these commands create the files at outdir/usr/ (CHANGELOG.md | LICENSE) for me.

Yes, but when calling `python setup.py install` those files (CHANGELOG.md and LICENSE) get added to the system to the wrong location. Where setuptools installs the binaries is a different story.

[2020-01-22 03:20] bill-auger commented on #149
ah yea - i did not realize at the time that there was a new release - the difference is exactly those two files

/usr/CHANGELOG.md
/usr/LICENSE

[2020-01-22 07:07] ihabunek commented on #149
If you don't have a better idea, I'll revert the change which added the two files to the package.

[2020-01-22 14:56] dadosch commented on #149
No, I don't have a better idea.

I think it is fine to have the changelog and License only in the source .tar.gz archive.

[2020-01-22 15:07] linxon commented on #149
[code]

[2020-01-22 17:18] bill-auger commented on #149
there seems to be some confusion about, on the one hand, which
files go into the duplicate source-ball, and on the other hand,
which files get installed with `setup.py install` - those are
rarely the same set of files - i read the python setuptools
documents to learn a bit more about this - from what i learned,
the python way to create a source-ball is with the `setup.py
sdist` command - the files

[2020-01-22 17:53] bill-auger commented on #133
i read the python setuptools documents to learn a bit more about this - from what i learned, the python way to create a source-ball is with the `setup.py sdist` command - the files that will be put into the source-ball are not related to anything in the setup.py script - that is determined only by the MANIFEST.in file; which in this case, specifies every file in the source tree (the recursive '*')

[2020-01-23 12:31] ihabunek commented on #149
Removed for now in https://github.com/ihabunek/toot/releases/tag/0.25.2

[2020-01-23 12:31] #149 closed

[2020-01-24 12:30] kflak opened #151 "Reverse order of notifications"
Thanks for a great tool! I am curious if it is possible to reverse the order of the notifications? Now, after issuing `toot notifications` I need to scroll back up in the terminal to see the latest notifications. `toot notifications | head` kind of works, but loses me the coloring.

[2020-01-26 00:58] finnoleary opened #152 "The explanations of "Unlisted" and "Private" are reversed."
The interface says:

However posts with the visibility "Private", later viewed on the web, show up with a visibility status as "Unlisted", and vice versa.

[2020-01-26 09:32] ihabunek commented on #152
Good catch, thanks! Merged manually.

Just please wrap commit messages to 72 chars in the future. Here's a nice and short guide: https://commit.style/

[2020-01-26 09:32] #152 closed

[2020-02-08 18:31] r3k2 opened #156 "TUI: auto update/refresh?"
Hello, I will like to turn toot tui and have it auto refresh every so many seconds of my choice... or something similar like the browser. thanks

[2020-02-27 18:16] b4zz4 opened #158 "image in ascii/ansi"
A conversor of imagenes to text: asciiart, jp2a, img2ansi

[2020-03-04 18:26] RasmusLindroth commented on #117
An alternative implementation of opening media would be to download the media file(s) to /tmp and use `xdg-open` for Linux, `open` for Mac and `start` for Windows. I can help, but only if you think it would be a good solution

[2020-03-18 08:14] githubgnulinux commented on #151
Agree. Please allow information to be viewed in chronological order; much more efficient with the all-powerful command terminal window! :)

[2020-03-18 08:24] githubgnulinux commented on #151
From command terminal help:
toot timeline --help
...
-r, --reverse         Reverse the order of the shown timeline
...

so:

toot timeline -r

Thanks for this feature.

[2020-03-19 10:27] githubgnulinux opened #159 "tui failure"
Command terminal input:
toot tui
Command terminal response output:
Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/toot/tui/app.py", line 158, in _done
    result = future.result()
  File "/usr/lib/python3.4/concurrent/futures/_base.py", line 395, in result
    return self.__get_result()
  File "/usr/lib/python3.4/concurrent/futures/_base.py", line 354, in __get_r

[2020-03-19 14:31] githubgnulinux commented on #6
Please add this function to the help manual. Thank you! :)

[2020-03-24 18:07] dualhammers opened #160 "Fatal error when running tui in Manjaro"
Grabbed Toot from the snap in Manjaro's pamac package manager. I was able to log-in successfully.

Afterwards I typed `toot tui` and this occured

[code]

[2020-03-25 10:52] mxmxyz commented on #117
as a colemak user, also keyboard shortcuts

[2020-03-28 08:54] basedtho commented on #160
what's your locale?

show the output of `locale`

[2020-03-30 06:07] mgiagante commented on #160
I'm having the same problem in Ubuntu
[code]
My output for `locale` is as follows:

[code]

[2020-03-30 22:14] dualhammers commented on #160
[code]

Update, I restarted and have not had the same issues.

[2020-04-04 05:00] Rostiger commented on #160
I'm getting the same error, even after restarting the system.
Here's the content of my locale:

[2020-04-07 20:14] dg01d opened #161 "Configurable colors in TUI"
Feature Request rather than a bug.

It would be useful to permit setting of TUI colors in config file.

Depending on the user's terminal settings, the default colors can be somewhat unreadable, especially for someone of the (ahem) more vintage persuasion.

[2020-04-15 05:55] noffle opened #162 "Unrecognised color specification 'italics' in foreground"
I get this output when I run `toot tui`:

[code]

Running Debian 9.4. Seems like it might be the same issue as #124?

[2020-04-15 06:15] ihabunek commented on #162
How did you install toot? If via apt-get, my guess is that Debian 9.4 has an older version of Urwid. Urwid 2.0.x is required.

I will probably be removing the [APT package repository](https://toot.readthedocs.io/en/latest/install.html#apt-package-repository), turns out it causes more problems than it solves, and leave the packaging to people who know what they're doing.

[2020-04-15 06:36] noffle commented on #162
Yes, via the apt instructions.

I tried to install via `pip3 install toot` and running the tui gives ![toot](https://user-images.githubusercontent.com/489362/79305641-a40ad400-7ea8-11ea-8eae-6935cded97c9.png)

I tried removing that and used `pip install toot` instead, but running `toot tui` gives
[code]

[2020-04-15 06:43] noffle commented on #162
@ihabunek thank you for taking the time to help :green_heart:

[2020-04-15 06:56] ihabunek commented on #162
toot will not work on python 2.7 (using pip). It should work on 3.5 (using pip3). I'll look into the error.

[2020-04-15 07:05] ihabunek commented on #162
Okay, found the problem in [`datetime.astimezone()`](https://docs.python.org/3/library/datetime.html#datetime.datetime.astimezone). I'm depending on behaviour introduced in python 3.6, and you're using pyhton 3.5:

I'll fix this.

[2020-04-15 12:11] #162 closed

[2020-04-15 12:51] ihabunek commented on #162
@noffle Could you update to 0.26.0 and check if it works now?

[2020-04-15 12:52] ihabunek commented on #159
Fixed in 0.26.0 please upgrade.

[2020-04-15 12:52] #159 closed

[2020-04-15 15:31] noffle commented on #162
@ihabunek it works! I really appreciate all of your help getting this working :green_heart:

[2020-04-16 05:41] dualhammers opened #164 "Posting from TUI"
[This](https://toot.readthedocs.io/en/latest/_images/tui_compose.png) image in the documentation implies that you can post a message that is not a reply from the curses TUI, but I cannot find that option.

How do I do this?

[2020-04-16 06:03] ihabunek commented on #164
Press `h` to get a list of keyboard shortcuts. Hint, it's `c`. I need to update docs.

[2020-04-16 20:19] dualhammers commented on #164
Perfect, thank you

[2020-04-16 20:19] #164 closed

[2020-04-16 20:20] dualhammers opened #165 "Crash trying to repeatedly boost a status"
Hit the boost button and nothing occured. Tried to give it a long press to see if it was an issue with button time and got this crash
![image](https://user-images.githubusercontent.com/7495830/79502793-5d72c200-7fed-11ea-9469-18ffa63e6092.png)

[2020-04-20 21:24] dualhammers commented on #164
Ah, oK. I missed it because the popup menu that shows the keyboard
shortcuts doesn't have any indicator that there is more text to scroll
through with the arrow keys. So, I assumed there were no other commands.

On Thu, Apr 16, 2020 at 12:03 AM Ivan Habunek <notifications@github.com>
wrote:

--
Twitter | @dualhammers <http://bit.ly/woDpEo>

[2020-04-25 01:27] d5xtgr opened #166 "Scroll right-hand pane in TUI"
On instances where the allowed number of characters per toot is large, or on posts with previews of included links, the content does not always fit in the provided space in the curses interface.  While it is possible to scroll the left-hand pane by means of the arrow keys, there does not appear to be any way to scroll the right-hand pane to view the overflowed content.

[2020-04-25 03:20] RedStarfish opened #167 "Toot not available in Trisquel 8.0"
I had been using Toot in Ubuntu for couple of month, but few days ago I moved to [Trisquel 8.0](https://trisquel.info). In Trisquel repositories Toot is not available. According to Toot's documentation one can install it using pip. But pip is not available in Trisquel either. So I tried to build it from souce: when I run `make` inside toot directory, I get this error:
[code]
So from the above erro

[2020-04-25 06:45] ihabunek commented on #167
Firstly, I don't know much about Trisquel, but you most probably need to use `python3` instead of `python`. Secondly, if you just want to use toot, you don't need to build the source distribution package, which is what `sdist` does, you can just install toot by running:

[code]
The `--user` option installs toot inside your home dir, more precisely `~/.local/bin/toot`so make sure that's in your pat

[2020-04-25 12:09] RedStarfish commented on #167
Thank you for your help, it worked!

[2020-04-25 12:14] #167 closed

[2020-04-27 15:53] hyx0329 opened #168 "My instance is private and requires authentication to get public timeline."
toot version: 0.26.0 from AUR

Here is the debug info.
[code]
Where "{INSTANCE_HOST}" stands for my instance's address.

I did a quick test using my firefox browser. All GET requests without cookies(auth?) will be rejected by the server.

I also checked that I can get public timeline without authentication at "mastodon.social".

I'm using Tusky on my phone and it's working properly with my instanc

[2020-05-11 02:28] r3k2 commented on #156
nevermind I switched to tut that does support auto refresh

[2020-05-11 10:14] ihabunek commented on #156
This is still something to implement. I'll get to it eventually. :)

[2020-05-11 11:01] #168 closed

[2020-05-11 11:02] ihabunek commented on #168
@hyx0329 I've changed the code to use an authorized get request to fetch the timeline (3b5769a). Planing to release 0.27.0 soon.

[2020-05-11 11:03] ihabunek commented on #166
This is something I've been putting off for a while because it means i need to handle focus of left vs right pane. I'll try to work on it soonish.

[2020-05-11 11:05] ihabunek commented on #165
Can't reproduce at the moment. If you get the same exception, could you please send the rest of the error message (the bottom part is more important for debugging).

[2020-05-11 11:09] ihabunek commented on #158
I'm not sure about this. It would require downloading all images and converting them which would require a non trivial amount of bandwidth and CPU power. Ideally the images would be downloaded and processed as soon as the list of statues is fetched so they can be shown immediately when you open a message. I'd only do if it was an opt-in setting, and I don't have settings figured out yet.

I'll lea

[2020-05-11 11:51] #151 closed

[2020-05-11 11:51] ihabunek commented on #151
This is added and will be included in 0.27.0.

[2020-05-11 17:33] dualhammers commented on #165
Will do, but I've stopped using toot for the moment. Without a view for
notifications/mentions I find it not useful for communication.

On Mon, May 11, 2020, 5:05 AM Ivan Habunek <notifications@github.com> wrote:

[2020-05-13 23:54] b4zz4 commented on #158
Real. I use viewer in framebuffer. Maybe it is priority accept config of mailcap

[2020-05-13 23:54] #158 closed

[2020-05-19 19:59] person-3 commented on #138
I belive that this is caused by attempting to open the program whith an empty timeline

[2020-05-20 07:12] ihabunek commented on #138
Fixed in bf168be87de51efc605c88935c0637b5e131c48e.

[2020-05-20 07:12] #138 closed

[2020-05-23 11:25] fturco opened #169 "Update copyright year"
The README still says:

Since we're in 2020 now, I suggest updating it.

[2020-05-27 18:22] pard68 opened #170 "Feature Request: Change timelines within the TUI"
Like the title says, it would be nice to be able to change the timeline being viewed from within the TUI. I mostly just look at the local timeline on Mastadon and don't follow anyone so using the TUI is mostly just my own toots. It'd be nice if I could change to view different timelines so I could view the local instance's timeline or the federated timeline.

[2020-05-27 18:24] ihabunek commented on #170
Press `G` :)

[2020-05-27 19:13] pard68 commented on #170
Thank you!

[2020-05-27 19:13] #170 closed

[2020-06-10 09:50] BTBTravis commented on #169
Created PR to update it. Took about as much time as to write your comment. Welcome to contribute @fturco .

[2020-06-12 14:12] Adonai opened #173 "License link reads GPLv3 but leads to MIT"
I'm confused.

https://github.com/ihabunek/toot/blame/master/README.rst#L14

This is also true for the [readthedocs](https://toot.readthedocs.io/en/latest/) page

[2020-06-12 14:15] ihabunek commented on #173
GPL is correct. I'll fix the link.

[2020-06-12 14:16] Adonai commented on #173
Thanks!

[2020-06-12 14:16] Adonai opened #174 "How do I donate?"
Hello!

Want to make one-time donation to this project, what are my options?

[2020-06-12 14:58] ihabunek commented on #174
Hi. Thanks but I'm not accepting donations currently. If you wish you can donate to a local cat sanctuary via Paypal: prava.sapa@gmail.com. They take care of strays in Zagreb and are fully voluntary and always strapped for cash for paying vet debts.

[2020-06-12 21:00] Adonai commented on #174
Just donated, thanks.

[2020-06-12 21:00] #174 closed

[2020-06-12 21:05] ihabunek commented on #174
Thank you.

[2020-06-15 19:14] ihabunek commented on #173
Fixed.

[2020-06-15 19:14] #173 closed

[2020-06-15 19:14] ihabunek commented on #169
There, fixed. :)

[2020-06-15 19:14] #169 closed

[2020-06-25 07:04] aadilayub opened #175 "Exception occurs when trying to view local timeline"
![image](https://user-images.githubusercontent.com/31581044/85671690-8f825d80-b6db-11ea-9a5b-a22de4bd4841.png)

I get an exception every time I try to view my instance's local timeline. This occurs both in the tui and when using the `toot timeline` command. At first I thought it was because I used the login_cli option to authenticate, but I reauthenticated and am still getting the error.

Ran `too

[2020-06-25 07:58] ihabunek commented on #175
@aadilayub Could you scroll down to the bottom of the exception and tell me what it says?

Alternatively you can run tui with:

[code]

[2020-06-25 07:59] ihabunek commented on #175
Oops, closed accidentally.

[2020-06-25 10:42] aadilayub commented on #175
here you go:

[code]

[2020-06-25 10:47] ihabunek commented on #175
This should be fixed in `0.27.0`, could you please upgrade and check?

[2020-06-25 10:57] aadilayub commented on #175
@ihabunek checked, it works!

[2020-06-25 10:57] #175 closed

[2020-07-24 23:38] Moult commented on #147
+1 :)

[2020-08-15 22:02] fabionatali opened #177 "User data and XDG conformity"
# Intro

This is a proposal for storing user data to the `$XDG_DATA_HOME` folder instead of `$XDG_CONFIG_HOME`, the current default folder. According to this proposal, this new approach would be more adherent to the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html).

# Background

Toot users can authenticate themselves to one or more M

[2020-09-01 13:56] ihabunek opened #178 "Allow alphanumeric IDs as used by Pleroma"
Toot assumes toot IDs will be numeric, but Pleroma uses alnum so things like `--reply-to` fail.

[2020-09-01 13:56] ihabunek opened #179 "Look into supporting rich text for Pleroma"
Mastodon does not allow rich text formatting, but pleroma does. Check out how this could be supported:
https://docs-develop.pleroma.social/backend/development/API/pleroma_api/

[2020-09-29 08:28] ihabunek commented on #178
Fixed, thanks snan.

[2020-09-29 08:28] #178 closed

[2020-10-14 17:48] waynew commented on #145
Not sure if this is part of this issue - but it would be awesome to set my default visibility to private, rather than having to pass the flag every time

[2020-12-10 00:11] Mroik opened #181 "It doesn't apply the max char limit when composing new status"
https://github.com/ihabunek/toot/blob/1ba3240e6a234922121c039f410d1704c8019fa3/toot/tui/app.py#L308

When i try to compose a new status the char limit is always at 500 when it should be way higher for the instance I'm on.

When the instance sends it's char limit it is there, the instance I'm on is anime.website. I even tried checking it using the function the app uses to get the data.
[code]
The f

[2020-12-10 12:34] Mroik commented on #181
Nvm, this was fixed on the commit on september 1st, im using version 0.27

[2020-12-10 12:34] #181 closed

[2021-01-19 06:42] zincurat commented on #147
+1

[2021-01-19 06:42] zincurat commented on #146
+1

[2021-01-20 06:10] zincurat opened #183 "Timeline with mentions [New feature]"
We have already home/local/global timelines and they work really well. I propose to add timeline with notifications (commented, boosted, favourited, polls, followed) and direct messages tab. Now it's hard to react to answer.

[2021-02-04 16:25] fossdd commented on #160
How did you installed that?

@dualhammers did that with `snap` and the others. Probebly it's a issue with snap. snap has often issues like that.

I'm using that on Manjaro installed with `pip` and works fine.

`locale`
[code]

[2021-02-11 00:49] macxcool opened #184 "Copy link to clipboard in TUI"
It would be nice to be able to copy links in the TUI into the selection or the clipboard using a hotkey.

[2021-02-11 10:37] ihabunek commented on #184
Planned, but not as simple as it sounds since there is no single way to interact with the clipboard across various operating systems. Each has its own problems, and I only use Linux at the moment.

[2021-02-13 21:33] roadriverrail commented on #161
I'm actually quite interested in this myself and I'd even try working on it.  I'm using a color-limited ANSI terminal (Spectrum on Apple iigs).  The TUI also doesn't respect terminal locales; I can't render UTF-8 characters.

I'd work on this directly if I could just iterate on it, but I'm a C and assembly hacker more than a Python hacker.  @ihabunek how do I run this from a git checkout so I can

[2021-02-24 17:09] n8willis commented on #94
Not sure if this 100% belongs here, but one of the first things I noticed when resizing the terminal window with the TUI active was that the timestamp column stayed full-width while the username column shrank past the point of readability. Seems like being cleverer with "what gets truncated" would help some of those wrapping issues. E.g., drop the YYYY from the timestamp column first, drop the mon

[2021-03-10 11:06] ch1r0x commented on #156
+1

[2021-03-10 11:07] ch1r0x commented on #161
+1

[2021-03-15 12:53] Happyfeet01 opened #185 "OpenSSL.SSL.Error: [('SSL routines', 'ssl3_get_record', 'wrong version number')]"
Hello,

i migrade my Mastodon instance to an new Server. Now i get this Error Message when i try to login.
What is the Problem?

`During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/bin/toot", line 11, in <module>
    load_entry_point('toot==0.21.0', 'console_scripts', 'toot')()
  File "/usr/lib/python3/dist-packages/toot/console.py"

[2021-03-22 10:43] #185 closed

[2021-04-25 16:46] Bubu opened #186 "Implement `scheduled_at` parameter for scheduled toots"
`scheduled_at` (optional; string)

ISO 8601 Datetime at which to schedule a status. Providing this paramter will cause ScheduledStatus to be returned instead of Status. Must be at least 5 minutes in the future.

I guess this would then also need commands to interact with scheduled toots.

[2021-05-07 15:09] matthiasbeyer opened #187 "No way to list toots of a single user?"
Hi,

as far as I can see, `toot` does not have a CLI to list toots of a single user, does it?

Maybe that's a feature request now! :laughing:

[2021-05-28 19:16] newissuemaker opened #188 "Making a toot in TUI sends you back to the beginning of the timeline. Even if you reply to a thread."
This ruins the browsing experience and I can't daily drive toot because of this. It's good for posting a thing or two and checking notifications from cli but it's not usable for longer browsing sessions in TUI.

[2021-06-06 20:36] marathone commented on #188
Indeed, puzzling behaviour and the reason I don't use this app. I prefer to use a cli app but like @newissuemaker said, it ruins the experience!

[2021-06-26 19:34] MiskolcziRichard commented on #147
+1

[2021-06-26 19:34] MiskolcziRichard commented on #146
+1

[2021-08-28 19:38] ihabunek commented on #186
Implemented in [0.28.0](https://github.com/ihabunek/toot/releases/tag/0.28.0). Please test.

[2021-08-28 19:38] #186 closed

[2021-08-28 19:38] ihabunek commented on #179
Implemented in [0.28.0](https://github.com/ihabunek/toot/releases/tag/0.28.0). Please test.

[2021-08-28 19:38] #179 closed

[2021-09-12 17:33] Akselmo opened #192 "Toot TUI crashes on launch"
When I try to launch toot tui it crashes. Other toot commands work, even toot curses. I had no problem before, I don't know what changed in my system to make this happen.

Stacktrace:

[code]
My system info

[code]

[2021-12-18 21:25] tackbackward opened #195 "'Nonetype' object has no attribute 'bottom_w' while using toot tui when using 'go to' to go to another timeline"
I installed toot on arch linux and I got this error when using 'go to' to go to another timeline
![image](https://user-images.githubusercontent.com/64315604/146655392-3c853e8f-71de-4852-bf57-7b5538816d32.png)

[2021-12-27 17:56] simon-v opened #196 "Crash in TUI when navigating to a poll without an expiration date"
Most relevant traceback fragment:
[code]

[2022-03-27 23:15] communistkiro opened #197 "Crash on TUI"
Recent install of toot on x86-64, musl, void linux.

Error is `Loading statuses...time data '' does not match format '%Y-%m-%dT%H:%M:%S.%f%z'`

The full exception output:
[code]

[2022-03-28 22:08] communistkiro commented on #197
Oookay, tried it again today, just because nobody'd witten here, and it popped up? Maybe it's an error only when one's home timeline is still void as mine was yesterday?

[2022-03-28 22:08] #197 closed

[2022-04-12 20:14] FiskFan1999 opened #198 "Replying to a boosted post tags the person who boosted instead of original author"
Suppose person A writes a toot, person B posts it, and it shows up in your feed as the boosted post (say you only follow person B). In the TUI, if you `R` to reply to this boosted post the client fills in the tag of person B, who boosted the post. However, after testing in the web application I can tell that the usual behavior is to tag person A (only) in the reply. I believe that this would be co

[2022-04-12 20:34] FiskFan1999 commented on #198
Closing as is handled by #176

[2022-04-12 20:34] #198 closed

[2022-04-29 12:03] Oblomov opened #201 "CLI command to backup user data"
It would be very practical to have a command to request the personal data archive, and possibly to download the last requested one. It could be used to automate the backup of one's account.

[2022-04-30 06:28] Oblomov opened #202 "Allow setting some options from the editor"
I understand that this may be overengineering the thing a bit, but I thought that it would be nice to have the possibility to set some things such as the spoiler text or language from the editor. This could be supported e.g. with some meta comment keywords. An example:

[code]

[2022-05-02 11:05] Oblomov opened #204 "Support for the bookmark API from the CLI"
As the title say, it would be nice if toot could add/remove bookmarks from the CLI, by URL or ID

[2022-05-07 06:05] XorOwl commented on #166
Is it not as simple as say, binding +/- on the keypad to make the message panel scroll? No need for added focus and such, just scroll it so its visible

[2022-05-09 08:42] metalune1 commented on #147
+1

[2022-05-25 18:37] Wittionary commented on #192
Looks like `toot` is interpreting italics as a color.

Do you use italics in your prompt?

[2022-05-25 18:40] Akselmo commented on #192
I unfortunately do not remember since I don't have the same setup anymore. I think I used nerd fonts: https://www.nerdfonts.com/

[2022-05-25 20:10] Wittionary commented on #192
Did your issue go away with the newer setup?

[2022-05-25 21:01] Akselmo commented on #192
Yup, so it seems!

Here's my current setup:

[code]

[2022-05-25 21:01] #192 closed

[2022-05-31 15:28] mikwee opened #205 "NameError: name 'fcntl' is not defined"
When I try to open the TUI, I get this error:
[code]
What's happening?

[2022-05-31 16:36] ihabunek commented on #205
fcntl is not supported on windows. If you want to run `toot tui` you can try using [WSL](https://docs.microsoft.com/en-us/windows/wsl/), although it might be overkill if that's the only thing you're using it for. It might also work in cygwin, not sure, don't have a windows box to test.

[2022-05-31 21:21] igalic commented on #205
Is there no file handling library in Python that abstracts between platforms?

[2022-05-31 21:38] ihabunek commented on #205
fnctl is used by [urwid](http://urwid.org/), which is used to build the TUI. I haven't really looked into how it could be made to work on windows.

[2022-06-04 08:01] fmaida opened #206 "[toot tui] ApiError Exception when trying to favorite a boosted toot"
I'm using Toot tui v0.28 and browsing from the italian Mastodon instance "livellosegreto.it"
I'm trying to favorite a boosted(/retweeted) toot.
The first time I try to press the "F" key the star does not appear on the interface.
The second time I try to press the "F" key I'm getting a ApiError exception:

[code]
("Validazione fallita: Status è già presente" in italian means "Failed validation: Sta

[2022-06-25 00:50] Ashdemai commented on #156
+1

[2022-08-28 23:44] therealmaxmoon opened #207 "Feature Request: Mark as read in TUI"
The tui app toot tui is really beautiful, but I am missing a feature, which I couldn't find yet, but would be very useful and easy to implement.

"Mark as read"

Every time I start Mastodon, I will hit a point, were I reread posts. This is just time wasting!

Just hitting a key, like space, to hide a post if I read it, would make life easier and there should be an option to see read posts and mark

[2022-10-20 06:44] ShredderWalnut commented on #156
I'm just trying out `toot` and this is the only missing feature for me. Looking forward to it!

[2022-10-22 22:29] ploum opened #208 "Toot crash when offline"
If not connected to the internet, toot crashes badly (doesn’t handle requests errors).

It should not crash.

It would be completely awesome to have an offline mode where some actions would be stored, delayed until a call later (like, for example, posting while offline then having a "toot sync" that would send all the offline written toot). You could also read the last timeline while offline, rebl

[2022-10-29 01:14] geofffranks opened #209 "Html special character rendering failures"
It seems like toot is not rendering special html characters properly. When using mastodon server websites directly, the toots render correctly, but viewed through toot, they look like this:

![E80024E1-1CE9-490F-B20E-3E4D136395BF](https://user-images.githubusercontent.com/7180882/198755171-71e81d83-c6ca-48a6-8e34-c1b560b6b3c5.jpeg)

Any chance a fix is on the way?

[2022-10-29 01:20] geofffranks commented on #209
It's even failing to render my own messages tooted with toot when containing single quotes

[2022-10-29 20:42] geofffranks commented on #209
Ok so it turns out I was using tootle and not toot.

Toot is by far much more amazing.

[2022-10-29 20:42] #209 closed

[2022-11-05 10:36] Zwijgmans opened #210 "Wrong times displayed in timeline"
When reading a timeline, the times of posting displayed after 'toot tui' are correct, but after 'toot timeline' they are off by one hour

[2022-11-05 15:56] mmmmmmbeer commented on #210
I'm noticing something similar and have a theory - will look into the code in a bit.

toot tui times are correct for me, showing the correct local time (EST, for me)
toot timeline times are four hours off, so I suspect they are UTC.

[2022-11-06 04:44] mmmmmmbeer commented on #210
@Zwijgmans I just put in a pull request for this (#212), but if you're impatient take a look at the proposed changes - it's a quick fix, just a couple lines in toot/output.py

[2022-11-06 09:08] Zwijgmans commented on #210
Thank you, looks promising. I'll wait for it, though.

[2022-11-06 11:56] flobee commented on #201
Jepp! +1 for me! Was looking for it, not implemented like:
[code]
Same could work with imports

[2022-11-06 12:32] ihabunek commented on #201
There doesn't seem to be an API endpoint for this. There's [an issue](https://github.com/mastodon/mastodon/issues/15540) requesting it, but it's been open for a long while.

[2022-11-07 18:57] flobee commented on #201
I added a hint. thx 4 info :-)

[2022-11-08 19:27] kirschner commented on #202
I also tried to find a way to include --media and --description inside of "toot post --editor vim", but it seems this is not supported. A solution like the above one would be really handy.

[2022-11-08 22:19] arttu-karpinlehto commented on #184
Maybe "pipe link to configurable command"?  Users could set whatever works in their environment, like xclip, or send it over socket with socat, nc, etc.

[2022-11-08 22:23] macxcool commented on #184
That would certainly be good enough for me.

[2022-11-09 03:23] ghostermonster opened #214 "Keybinding to open media (like image) in the default viewer"
Currently I can't any way of displaying images other than copying and pasting link to the image or viewing the post in web browser. It would be nice to all ability to view images without getting out of the tui tool.

[2022-11-09 15:47] skerit opened #217 "Custom LOCAL_DOMAIN instance setting isn't used"
My instance is running at `mastodon.elevenways.be`, but the `LOCAL_DOMAIN` has been set to just `elevenways.be`, while `WEB_DOMAIN` is set to `mastodon.elevenways.be`
Toot doesn't seem to use this, and just shows the full address:

![image](https://user-images.githubusercontent.com/755212/200874801-e9432875-8a0b-4ed0-8cd3-5ca5f13b6bd8.png)

[2022-11-10 01:21] chiizujin commented on #214
The key isn't listed on screen or in the help window but you can press M to open the media in an external program. It tries these programs in this order:

feh, eog, display (ImageMagick)

(I'm using the PyPI version on Linux)

[2022-11-10 01:36] chiizujin commented on #214
It looks like there's a pull request for this (https://github.com/ihabunek/toot/pull/155) from 2020 with some commentary.

[2022-11-11 00:04] stevecheckoway opened #218 "Feature Request: Display images inline in terminals that support it"
Some terminal emulators support displaying images in the terminal via an extension of the xterm protocol. It would be great if the TUI would display such images.

Partial list of terminal emulators that support displaying images in some fashion
- [iTerm2](https://iterm2.com/documentation-images.html)
- [Kitty](https://sw.kovidgoyal.net/kitty/graphics-protocol/)
- [Several](https://saitoha.github.i

[2022-11-11 13:18] larsks opened #219 "Set an explicit suffix on temporary filenames for toots"
When you write a toot using `toot post -e`, the editor opens a temporary file named something like `/tmp/tmp1234567`. Because of the generic filename it's not possible to apply any automatic settings (syntax, wrapping, spell checking, etc) to the file.

Include an explicit prefix or suffix in the name so that toots are identifiable for the purpose of customizing editor settings.

E.g.:

[code]

[2022-11-11 14:08] #219 closed

[2022-11-11 14:24] bomeara opened #221 "Follow from within TUI (feature request)"
Within TUI, if I see a toot boosted by someone I follow, it would be great to be able to follow the creator of the original toot from within TUI (i.e., userA@instance boosts a toot from userB@instance -- I want to be able to follow userB). As is, there's no easy way to do this: I can't even use my mouse to copy the user name. Maybe keybinding for A for Add a user to your follows?

[2022-11-11 23:09] sampsyo opened #222 "TUI: Support "markers" API (preserve timeline read position)"
I would love for the TUI (and possibly also `toot timeline`?) to support [Mastodon's recent-ish `markers` API](https://docs.joinmastodon.org/methods/timelines/markers/), which saves and syncs a "last read" position between clients.

The exact UI approach is not entirely obvious. A simple approach would be to use the "cursor" position. That is, the TUI would select the last-read toot by default, an

[2022-11-12 06:30] ihabunek commented on #210
Fixed by #212

[2022-11-12 06:30] #210 closed

[2022-11-12 11:21] jtmusson commented on #204
+1

[2022-11-15 03:53] NoraCodes opened #223 "Support non-Unicode locales"
Hi! I am currently trying to run Toot on my Digital Equipment Corporation VT420, which doesn't support Unicode. The best I've got is ISO Latin-1. However, toot currently doesn't work at all in this locale:

[code]

Similar errors occur with `toot timeline`. Would it be possible to get at least basic functionality without fancy Unicode characters?

Thanks!

P.S. here's what happens if you feed the

[2022-11-16 13:55] edent commented on #139
I've made a client which can display threads. That's all it can do, mind you. Nothing else.

<img src="https://files.mastodon.social/media_attachments/files/109/352/950/675/500/699/original/92225ce1667ba27a.png" alt="A threaded conversation view" >

Python code is at https://codeberg.org/edent/Mastodon_Tools

Is that the sort of thing you were looking for?  I'm not sure if I have to skill to add a

[2022-11-16 19:30] kianryan commented on #223
Not bad - further than I got while attempting login
UnicodeEncodeError: 'latin-1' codec can't encode character '\u2713' in position 5: ordinal not in range(256) :-)

[2022-11-17 05:32] #204 closed

[2022-11-17 06:52] mig5 opened #224 "Feature request: add support for the new 'edit' mode in Mastodon 4.x"
Mastodon 4.x now has the ability to edit a toot - this is distinct from the 'delete and rewrite' feature (which also still remains).

It would be great if Toot supported the 'Edit' option if the instance one's using supports it.

[2022-11-17 06:55] mig5 commented on #224
I am not even on the right Github project! :) I thought this was the Toot IOS app, haha. Sorry. Feel free to actually delete the issue.

[2022-11-17 07:09] ihabunek commented on #224
The issue makes perfect sense for this toot app as well. Thanks! :⁠-⁠)

[2022-11-17 07:55] ffaf1 opened #225 "Filter boosted toots"
Sometimes, when I invoke `toot tui` there are a lot of undread toots and I might want to only check those directly originating from followed contacts. A “filter out boosts” would be a UX improvement in such cases.

[2022-11-17 14:09] ihabunek commented on #223
@NoraCodes Firstly, I love your use case. :) Currently the whole project assumes utf-8. Making it support latin1 would be possible, but might require some re-jigging. Probably won't be high on my list of priorities for the near future, sorry.

[2022-11-17 22:42] j0ni opened #227 "Test failures relating to time zone"
I'm packaging toot 0.28.1 for Void Linux. The packaging system attempts to run test suites when they exist, and there are 4 failures which I can't figure out.

They appear to be TZ related:

[code]

If I try running them with an explicit TZ, e.g., `env TZ=CET pytest -vv`, I see:

[code]
So I'm not entirely sure how to get the TZ right. Is there some env I need to configure to make the tests behave

[2022-11-18 07:31] ihabunek commented on #227
On Thu, 17 Nov 2022, at 23:42, Jon Irving wrote:

Seems like I made tests dependant on the timezone. I'll fix it for next release.

Regards,
Ivan

[2022-11-18 09:47] danielhatton commented on #156
Suggested easy method: introduce a keyboard "refresh" shortcut which, from the main tui screen, causes toot to exit with a special exit status.  Then have a script which runs toot tui over and over again in a while loop, until it exits with something other than that special exit status.

[2022-11-18 12:26] danielhatton opened #228 "Voting in polls"
Any chance of implementing the ability to vote in polls, either in tui or as a standalone command, please?

[2022-11-18 12:40] danielhatton opened #229 "Case sensitivity of instance names"
In toot follow, the instance name is case sensitive.  Is that a good idea, given that the instance name is a domain name, and domain names are generally not case-sensitive?

[2022-11-18 13:17] dfl1955 opened #230 "Request to send DMs using toot"
I'd like to be able to send private/direct messages using toot. Could you expose the 'visibility' setting on the command line?

[2022-11-18 14:52] ihabunek commented on #227
Probably next week.

[2022-11-19 23:22] vodrazka opened #231 "toot post -e vim not working"
hi,

i tried using vim for posting but i get this error:
`You must specify either text or media to post.`

(i fill the file with text above the specifed line)

I get the same error with neovim (nvim command).

It works with nano. It's probably a configuration issue, but i can't figure out whats the reason.
The temp file *.toot is created and accessible (writable)...

[2022-11-20 04:24] AbeEstrada commented on #156
The keyboard shortcut is more than enough for me

[2022-11-20 16:49] ruario commented on #217
Yeah I saw the same problem for users on http://social.vivaldi.net as their usernames end @vivaldi.net not @social.vivaldi.net

[2022-11-20 17:14] wtee commented on #205
I think it would require switching from urwid to a library that supports Windows terminals as well, like [asciimatics](https://github.com/peterbrittain/asciimatics), [blessed](https://github.com/jquast/blessed), [prompt_toolkit](https://github.com/prompt-toolkit/python-prompt-toolkit), or [textual](https://github.com/Textualize/textual).

If that's a direction you're willing to go, I'd be happy to

[2022-11-20 17:19] ruario commented on #147
+1

[2022-11-20 17:27] ruario commented on #230
Oh yes another thing I would love to see

[2022-11-20 18:10] ruario commented on #224
Looking forward to this

[2022-11-20 18:12] ruario opened #232 "Feature request: Add the ability to load an arbitary post by URL"
Sometimes I might have come across a post outside of the client. It would be nice if I could pass this via the terminal into the app so that I could boost, favouite or reply.

[2022-11-20 18:14] ruario commented on #187
Yep, also agree this would be a nice to have feature request

[2022-11-20 18:49] ruario commented on #183
Sounds like a dupe of https://github.com/ihabunek/toot/issues/147

[2022-11-20 19:51] danschwarz opened #233 "Do you have a build & run guide for toot?"
I have a few contributions I'd like to make to the toot tui, but Python is not a language I use regularly, so I'm having a bit of trouble building and testing my changes. I'm familiar with running .py files with Python, but when I try to do that with tui/app.py, it complains about missing dependencies.  How should I launch the toot tui after making changes? Thx.

[2022-11-21 06:14] ihabunek commented on #233
I need to set up a contribution guide. For now, here is how I set up a dev environment.

First time setup:

[code]

If you're running windows, then the virtual env is activated like this instead:

[code]

If you run `which toot` it should point to the one inside the virtual env. Now you can change the code and run `toot tui` (or other commands) and see the changes.

[2022-11-21 07:24] ethael opened #234 "replace hardcoded image viewers with standard xdg-open"
please use standard xdg_open in function show_media from toot/tui/utils.py for opening images

just remove all method code except last line and replace viewer with 'xdg-open'

[2022-11-21 07:29] ihabunek commented on #234
`xdg-open` opens only one file, what do you suggest to do when there are multiple images attached?

[2022-11-21 08:11] ethael commented on #234
oh. I wasn't aware about that. my fault.
then the only solution that comes to my mind is parsing .config/mimeapps.list manually and using the preferred app for the mime type. something like:

`cat .config/mimeapps.list | grep image/jpg | awk -F '=' '{print $2}'`

but then you would have to check the location of the .desktop file in both ~/.local/share/applications and /usr/share/applications and p

[2022-11-21 08:11] #234 closed

[2022-11-21 08:19] #227 closed

[2022-11-21 08:21] ihabunek commented on #234
Thanks for the suggestion, but yeah, it's not trivial and that's why I haven't solved this. I plan to implement a settings file, but haven't gotten around to it yet.

[2022-11-21 08:23] ihabunek commented on #205
@wtee It is something I have considered. I tried blessed and prompt_toolkit and wasn't enamored. I liked the look of textual but it's very early in development, and needs a bit more time to mature. I'll probably be making incremental improvements to urwid variant for a little while longer. I'll check out asciimatics too, since I haven't looked at it yet.

[2022-11-21 08:56] ihabunek commented on #230
On mastodon DMs are normal posts with visibility set to "direct". Only mentioned users will see the post. E.g.

[code]

See: https://docs.joinmastodon.org/user/posting/#direct

[2022-11-21 10:11] dfl1955 commented on #230
That seems to work, thanks. Sorry I couldn't find the documentation myself.

[2022-11-21 10:11] #230 closed

[2022-11-21 11:59] ihabunek commented on #227
@j0ni Fixed in [0.29.0](https://github.com/ihabunek/toot/releases/tag/0.29.0).

[2022-11-22 00:58] danschwarz commented on #233
Thanks, that worked, did some hacking and emailed you a patch for a timeline update command

[2022-11-22 19:08] omendezmorales commented on #204
👍🏼  very pleased with the functionality it has so far, but definitely marking _toots_ is missing. 🐘

[2022-11-23 15:28] danschwarz commented on #224
Just posted a patch in the mailing list to support this in command line mode. Basic feature is working. Media attachments don't seem to work yet, But then, they don't seem to work for regular posts, either ¯\_(ツ)_/¯.

[2022-11-23 16:02] ihabunek commented on #224
Media upload doesn't work? :thinking:

[2022-11-23 18:22] danschwarz commented on #224
Here's what I'm seeing when I try to post a .jpg  (this is 0.28.0 as packaged in my Ubuntu distro; not using master branch here)

`dschwarz@mini:~$ toot post -m Great-Sphinx-of-Giza-pyramid-background-Khafre.jpg
Uploading media: Great-Sphinx-of-Giza-pyramid-background-Khafre.jpg
Traceback (most recent call last):
  File "/usr/bin/toot", line 33, in <module>
    sys.exit(load_entry_point('toot==0.2

[2022-11-24 21:31] ruario commented on #232
Ok read the documentation again, while I cannot do this from TUI I can via the `post --reply-to`, `toot reblog` and `toot favourite` CLI options

[2022-11-24 21:32] #232 closed

[2022-11-27 03:29] danschwarz commented on #218
Added a patch for this. You'll need to install a companion viewer app, 'chafa'
available in most distros and https://github.com/hpjansson/chafa

With chafa and this patch you get surprisingly good character graphics in most terminals, but in iTerm2, Kitty, etc. you get pixel accurate images.

https://lists.sr.ht/~ihabunek/toot-discuss/%3Ceb069b5d-4d40-63b4-21e1-d1375c16c742%40mini%3E

[2022-11-27 11:43] IntinteDAO opened #236 "Get User Posts"
Hello

I couldn't find the relevant information in Help, and it's probably there :P

I want to display the last entries of the example user (nice if this can be transferred to JSON somehow, but I don't think there is such an option).

It seems to me that the appropriate group is "timeline", but I can't get the user name to point correctly, as I get the response that the user doesn't exist.

Genera

[2022-11-28 05:18] ChristianSilvermoon commented on #218
I'd like to add The Enlightenment Terminal, [Terminology](https://www.enlightenment.org/about-terminology) to that list, which also supports images via Terminal Control Sequences.
Terminology can usually be detected if the environment variable `TERMINOLOGY` is set to `1`

[2022-11-28 12:45] danschwarz commented on #218
Terminal support is entirely within the helper program; if you like you can test chafa with a jpg on your local system and see how it performs.

[2022-11-28 13:19] ChristianSilvermoon commented on #218
![image](https://user-images.githubusercontent.com/30162808/204286716-75bdafd4-697e-4c7c-ae94-c4cc0f475484.png)
I am genuinely really impressed with it, but for Terminals with native image support it doesn't seem the most ideal :thinking:

[2022-11-30 20:53] rhersel opened #237 "Specification for --scheduled-at"
Can you please specify '--scheduled-at'. Even after hours of reading UTC and timestamp specs, I'm still not able to schedule a post. Here is an example:

toot post 'scheduled 21:46' --scheduled-at "2022-11-30T21:46:00"
Toot scheduled for: 2022-11-30T21:46:00.000Z

Seems like Toot accepts the scheduled post, but it is never sent. Does this option work at all, or is it a timezone issue?

Thanks, Ral